<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>Type</label>
	    <input type="text" name="type" [(ngModel)]="user.type"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Number' or 'Even Number', then you need to add 'Type' input as 'Even'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.type?.errors">{{userForm.controls?.type?.errors?.even.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Even Number</label>
	    <input type="text" name="evenNumber" [(ngModel)]="user.evenNumber"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Even Number' then you need to add 'Type' input as 'Even'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.evenNumber?.errors">{{userForm.controls?.evenNumber?.errors?.even.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
