<div id="wrapper" *ngIf="showComponent">
	<div class="content">
		<div class="title">
			<h1>Configure Global Validation Messages</h1>
			<p>Apply global validation messages throughout the application, then configure the validation messages globaly(whenever application starts it will initialized automatically). Below is the example to configure the validation messages in 'ReactiveFromConfig'.</p>
		</div>
		<div class="bg-white py-3 border-radius">
			<div class="row">
				<div class="col-lg-12">
					<div class="hpanel">
						<div class="panel-body validation-tab">
							<div class='row'>
								<div class='col-lg-12'>
									<div class="model-ts">
										<div class="code">
											<a class="float-right copy-icon" ngxClipboard [cbContent]="moduleContent" (cbOnSuccess)="moduleContentCopied = true"
											 [class.copied]="moduleContentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
											<div highlight="pre code">
												<pre><code [textContent]="moduleContent"></code></pre>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-12">
									<app-disqus></app-disqus>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<app-right-sidebar [sidebarLinks]="sidebarLinks"></app-right-sidebar>
</div>