<div>
  <form #companyinfoForm = "ngForm" [rxwebForm]="companyinfoForm">
    <div class="form-group">
      <label>Company Name</label>
	    <input type="text" name="companyName" [(ngModel)]="companyinfo.companyName"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="companyinfoForm.controls?.companyName?.errors">{{companyinfoForm.controls?.companyName?.errors?.cusip.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Microsoft Corporation Cusip Code</label>
	    <input type="text" name="microsoftCorporationCusipCode" [(ngModel)]="companyinfo.microsoftCorporationCusipCode"  class="form-control" [cusip]="{'conditionalExpression':'x => x.companyName ==\'Microsoft\''}"/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'Microsoft Corporation Cusip Code' then you need to add 'Company Name' input as 'Microsoft'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="companyinfoForm.controls?.microsoftCorporationCusipCode?.errors">{{companyinfoForm.controls?.microsoftCorporationCusipCode?.errors?.cusip.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Apple Inc Cusip Code</label>
	    <input type="text" name="appleIncCusipCode" [(ngModel)]="companyinfo.appleIncCusipCode"  class="form-control" [cusip]="{'message':'Apple Inc Cusip Code is not a valid cusip Code'}"/>

      <small class="form-text text-muted">enter 9-character alphanumeric cusip Code only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="companyinfoForm.controls?.appleIncCusipCode?.errors">{{companyinfoForm.controls?.appleIncCusipCode?.errors?.cusip.message}}<br/></small>	
    </div>
    <button [disabled]="!companyinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
