<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Integer Number</label>
	    <input type="text" name="integerNumber" [(ngModel)]="userinfo.integerNumber"  class="form-control" />

      <small class="form-text text-muted">you can enter only a non decimal positive number<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.integerNumber?.errors">{{userinfoForm.controls?.integerNumber?.errors?.numeric.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
