<div>
  <form  [formGroup]="addressInfoFormGroup">
    <div class="form-group">
      <label>Zipcode</label>
      <input type="text" formControlName="zipcode" class="form-control"  />
	 <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.zipcode.errors">{{addressInfoFormGroup.controls.zipcode.errors.required.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Colony Name</label>
      <input type="text" formControlName="colonyName" class="form-control"  />
      <small class="form-text text-muted">rule validation based on the customRules <br/></small>
	 <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.colonyName.errors">{{addressInfoFormGroup.controls.colonyName.errors.required.message}}<br/></small>	
    </div>
    <button [disabled]="!addressInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
