<div>
  <form #employeeinfoForm = "ngForm">
    <div class="form-group">
      <label>Employee Age</label>
	    <input type="text" name="age" [(ngModel)]="employeeinfo.age"  class="form-control" [range]="{'minimumNumber':18,'maximumNumber':60}"/>

      <small class="form-text text-muted">Age Should be between 18 to 60.<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Project Duration' or 'Employee Experience', then you need to add 'Employee Age' input greater than 25<br/></small>
	   <small class="form-text text-danger" *ngIf="employeeinfoForm.controls.age?.errors">{{employeeinfoForm.controls.age?.errors.range.message}}<br/></small>	
    </div>
    <button [disabled]="!employeeinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
