<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Age</label>
	    <input type="text" name="age" [(ngModel)]="user.age"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Phone Number' or 'Fax Number' then you need to add this input greater than or equal to '25'.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.age?.errors">{{userForm.controls?.age?.errors?.digit.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Fax Number</label>
	    <input type="text" name="faxNumber" [(ngModel)]="user.faxNumber"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Phone Number' then you need to add 'Age' field greater than or equal to '25'.<br/></small>
      <small class="form-text text-muted">If you want to apply conditional expression of type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.faxNumber?.errors">{{userForm.controls?.faxNumber?.errors?.digit.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Mobile Number</label>
	    <input type="text" name="mobileNumber" [(ngModel)]="user.mobileNumber"  class="form-control" />

      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.mobileNumber?.errors">{{userForm.controls?.mobileNumber?.errors?.digit.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
