<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Company</label>
      <input type="text" formControlName="company" class="form-control"  />
      <small class="form-text text-muted">Input should endsWith `b`<br/></small>
      <small class="form-text text-muted">Shows custom message<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.company.errors">{{userFormGroup.controls.company.errors.endsWith?.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
