<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>User Name</label>
	    <input type="text" name="userName" [(ngModel)]="user.userName"  class="form-control" />

      <small class="form-text text-muted">It checked that username match alpha regex or not<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Contact Number' or 'Age', then you need to add 'userName' input as 'Bharat<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.userName?.errors">{{userForm.controls.userName?.errors.onlyAlpha.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
