<div>
  <form #contactForm = "ngForm" [rxwebForm]="contactForm">
    <div class="form-group">
      <label>Country Name</label>
	    <input type="text" name="countryName" [(ngModel)]="contact.countryName"  class="form-control" [minLength]="{'value':3}"/>

      <small class="form-text text-muted">Minimum length upto 3 characters.<br/></small>
	   <small class="form-text text-danger" *ngIf="contactForm.controls?.countryName?.errors">{{contactForm.controls?.countryName?.errors?.minLength.message}}<br/></small>	
    </div>
    <button [disabled]="!contactForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
