<div class="model-ts" *ngIf="content && type == 'string'">
    <div class="code">
        <a class="float-right copy-icon" ngxClipboard [cbContent]="content" (cbOnSuccess)="CodeContentCopied = true"
            [class.copied]="CodeContentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
        <div highlight="pre code">
            <pre><code [textContent]="content"></code></pre>
        </div>
    </div>
</div>

<div *ngIf="content && type == 'object'">
    <div class="model-ts" *ngFor="let item of allContents">
        <div class="code-example-title ng-star-inserted">{{item.title}}</div>
        <div class="code">
            <a class="float-right copy-icon" ngxClipboard [cbContent]="item.content" (cbOnSuccess)="CodeContentCopied = true"
                [class.copied]="CodeContentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
            <div highlight="pre code">
                <pre><code [textContent]="item.content"></code></pre>
            </div>
        </div>
    </div>
</div>