<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Other Age</label>
      <input type="text" name="otherAge" [(ngModel)]="user.otherAge"  class="form-control"  [greaterThanEqualTo]="{'fieldName':'admissionAge','message':'Please enter number greater than or equal to 1.'}" />
      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.otherAge?.errors">{{userForm.controls.otherAge?.errors.greaterThanEqualTo.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
