<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Type</label>
      <input type="text" formControlName="type" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Number' or 'Even Number', then you need to add 'Type' input as 'Even'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.type.errors">{{userFormGroup.controls.type.errors.even.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Number</label>
      <input type="text" formControlName="number" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Number' then you need to add 'Type' input as 'Even'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.number.errors">{{userFormGroup.controls.number.errors.even.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Even Number</label>
      <input type="text" formControlName="evenNumber" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Even Number' then you need to add 'Type' input as 'Even'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.evenNumber.errors">{{userFormGroup.controls.evenNumber.errors.even.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Multiples of Even Number</label>
      <input type="text" formControlName="multiplesOfEvenNumber" class="form-control"  />
      <small class="form-text text-muted">you can enter only an even number<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.multiplesOfEvenNumber.errors">{{userFormGroup.controls.multiplesOfEvenNumber.errors.even.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
