<div id="wrapper">
    <div class="content">
        <app-title [title]="codeContent.title" [description]="codeContent.description" [mainType]="mainType"></app-title>
        <div class="bg-white border-radius">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel validation-tab plain-text" id="mainContent">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-right-sidebar [sidebarLinks]="codeContent.rightSidebarLinks"></app-right-sidebar>
</div>