<div>
<form  [formGroup]="addressInfoFormGroup">
<div class="form-group">
    <label>Country Name</label>
		<input type="text" formControlName="countryName" class="form-control"  />
	    <small class="form-text text-muted">If you want to apply conditional validation on 'Country Code' or 'City' then you need to add this input as 'India'.<br/></small>
    <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.countryName.errors">{{addressInfoFormGroup.controls.countryName.errors.alpha.message}}<br/></small>
</div>
<div class="form-group">
    <label>City</label>
		<input type="text" formControlName="cityName" class="form-control"  />
	    <small class="form-text text-muted">If you want to apply conditional validation on 'City' then you need to add 'Country Name' input as 'India'.<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
    <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.cityName.errors">{{addressInfoFormGroup.controls.cityName.errors.alpha.message}}<br/></small>
</div>
<div class="form-group">
    <label>Country Code</label>
		<input type="text" formControlName="countryCode" class="form-control"  />
	    <small class="form-text text-muted">If you want to apply conditional validation on 'Country Code' then you need to add 'Country Name' input as 'India'.<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
    <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.countryCode.errors">{{addressInfoFormGroup.controls.countryCode.errors.alpha.message}}<br/></small>
</div>
<button [disabled]="!addressInfoFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>