<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Confirmation Date</label>
	    <input type="text" name="confirmationDate" [(ngModel)]="user.confirmationDate"  class="form-control" [maxDate]="{'value':'07/30/2018','operator':'<'}"/>

      <small class="form-text text-muted">Enterred date must be less than the 30th July 2018<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.confirmationDate?.errors">{{userForm.controls?.confirmationDate?.errors?.maxDate.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
