<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Obtained Marks</label>
      <input type="text" name="obtainedMarks" [(ngModel)]="user.obtainedMarks"  class="form-control"   />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Practical Exam Marks' or 'Passing Marks', then Obtained Marks must be less than '35'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.obtainedMarks?.errors">{{userForm.controls.obtainedMarks?.errors.lessThan.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Other Marks</label>
      <input type="text" name="otherMarks" [(ngModel)]="user.otherMarks"  class="form-control"  [lessThan]="{'fieldName':'obtainedMarks','message':'Please enter number greater than 100.'}" />
      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.otherMarks?.errors">{{userForm.controls.otherMarks?.errors.lessThan.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
