<div>
  <form #macaddressinfoForm = "ngForm">
    <div class="form-group">
      <label>System MAC Address</label>
	    <input type="text" name="systemMacAddress" [(ngModel)]="macaddressinfo.systemMacAddress"  class="form-control" [mac]="{'message':'System MAC Address is not a MAC address'}"/>

      <small class="form-text text-muted">enter MAC address only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="macaddressinfoForm.controls.systemMacAddress?.errors">{{macaddressinfoForm.controls.systemMacAddress?.errors.mac.message}}<br/></small>	
    </div>
    <button [disabled]="!macaddressinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
