<div>
  <form  *ngIf="userFormGroup"  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Video Data Uri</label>
      <input type="text" formControlName="videoDataUri" class="form-control"  />
      <small class="form-text text-muted">You must enter a data URI<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.videoDataUri.errors">{{userFormGroup.controls.videoDataUri.errors.dataUri.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
