<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>UserName</label>
	    <input type="text" name="userName" [(ngModel)]="user.userName"  class="form-control" [required]="{'message':'Username cannot be blank.'}"/>

      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.userName?.errors">{{userForm.controls?.userName?.errors?.required.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
