<div>
  <form #numberinfoForm = "ngForm" [rxwebForm]="numberinfoForm">
    <div class="form-group">
      <label>Number Type</label>
	    <input type="text" name="numberType" [(ngModel)]="numberinfo.numberType"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Second Number' or 'Third Number', then you need to add 'Number Type' input as 'Prime'.<br/></small>
	   <small class="form-text text-danger" *ngIf="numberinfoForm.controls?.numberType?.errors">{{numberinfoForm.controls?.numberType?.errors?.primeNumber.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Third Number</label>
	    <input type="text" name="thirdNumber" [(ngModel)]="numberinfo.thirdNumber"  class="form-control" [primeNumber]="{'conditionalExpression':'x => x.numberType ==\'Prime\''}"/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'Third Number' then you need to add 'Number Type' input as 'Prime'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="numberinfoForm.controls?.thirdNumber?.errors">{{numberinfoForm.controls?.thirdNumber?.errors?.primeNumber.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>First Number</label>
	    <input type="text" name="firstNumber" [(ngModel)]="numberinfo.firstNumber"  class="form-control" [primeNumber]="{'message':'First Number is not a prime number'}"/>

      <small class="form-text text-muted">You can enter only prime number<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="numberinfoForm.controls?.firstNumber?.errors">{{numberinfoForm.controls?.firstNumber?.errors?.primeNumber.message}}<br/></small>	
    </div>
    <button [disabled]="!numberinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
