<div>
  <form  [formGroup]="userInfoFormGroup">
    <div class="form-group">
      <label>MinMaxFiles</label>
      <input type="file" formControlName="minMaxFiles" class="form-control" multiple />
      <small class="form-text text-muted">It shows custom message<br/></small>
	 <small class="form-text text-danger" *ngIf="userInfoFormGroup.controls.minMaxFiles.errors">{{userInfoFormGroup.controls.minMaxFiles.errors.file?.message}}<br/></small>	
    </div>
    <button [disabled]="!userInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
