<div>
  <form #companyinfoForm = "ngForm" [rxwebForm]="companyinfoForm">
    <div class="form-group">
      <label>Oracle Corporation Cusip Code</label>
	    <input type="text" name="oracleCorporationCusipCode" [(ngModel)]="companyinfo.oracleCorporationCusipCode"  class="form-control" />

      <small class="form-text text-muted">You must enter a valid cusip Code only<br/></small>
	   <small class="form-text text-danger" *ngIf="companyinfoForm.controls?.oracleCorporationCusipCode?.errors">{{companyinfoForm.controls?.oracleCorporationCusipCode?.errors?.cusip.message}}<br/></small>	
    </div>
    <button [disabled]="!companyinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
