<div>
  <form #macaddressinfoForm = "ngForm" [rxwebForm]="macaddressinfoForm" [model]="macaddressinfo">
    <div class="form-group">
      <label>System MAC Address</label>
	    <input type="text" name="systemMacAddress" [(ngModel)]="macaddressinfo.systemMacAddress"  class="form-control" mac/>

      <small class="form-text text-muted">You must enter a MAC address<br/></small>
	   <small class="form-text text-danger" *ngIf="macaddressinfoForm.controls?.systemMacAddress?.errors">{{macaddressinfoForm.controls?.systemMacAddress?.errors?.mac.message}}<br/></small>	
    </div>
    <button [disabled]="!macaddressinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
