<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>Sixth Number</label>
	    <input type="text" name="sixthNumber" [(ngModel)]="user.sixthNumber"  class="form-control" />

      <small class="form-text text-muted">you can enter only factors of 50<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.sixthNumber?.errors">{{userForm.controls?.sixthNumber?.errors?.factor.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
