<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Voter Id</label>
	    <input type="file" name="voterId"  [(ngModel)]="userinfo.voterId"  class="form-control" [image]="{'minHeight':10,'maxHeight':100,'minWidth':10,'maxWidth':10}"/>

	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.voterId?.errors">{{userinfoForm.controls?.voterId?.errors?.image.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
