<div>
  <form #digitalinfoForm = "ngForm" [rxwebForm]="digitalinfoForm">
    <div class="form-group">
      <label>SoundRecording GRid</label>
	    <input type="text" name="soundRecordingGrid" [(ngModel)]="digitalinfo.soundRecordingGrid"  class="form-control" grid/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'AudioVisualRecording GRid' or 'Photograph GRid' then you need to add this input to 'A12425GABC1234002M'.<br/></small>
	   <small class="form-text text-danger" *ngIf="digitalinfoForm.controls?.soundRecordingGrid?.errors">{{digitalinfoForm.controls?.soundRecordingGrid?.errors?.grid.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Photograph GRid</label>
	    <input type="text" name="photographGrid" [(ngModel)]="digitalinfo.photographGrid"  class="form-control" [grid]="{'conditionalExpression':'x => x.soundRecordingGrid ==\'A12425GABC1234002M\''}"/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'Photograph GRid' then you need to add 'SoundRecording GRid' field input to 'A12425GABC1234002M'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="digitalinfoForm.controls?.photographGrid?.errors">{{digitalinfoForm.controls?.photographGrid?.errors?.grid.message}}<br/></small>	
    </div>
    <button [disabled]="!digitalinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
