<a routerLink="home">Home</a>&nbsp;
<a routerLink="on-push">OnPush</a>&nbsp;
<a routerLink="validation">Validation</a>&nbsp;
<a routerLink="lazy">Lazy</a>&nbsp;

<!-- <a routerLink="{{locale.language}}/home">Home</a>&nbsp;
<a routerLink="{{locale.language}}/on-push">OnPush</a>&nbsp;
<a routerLink="{{locale.language}}/validation">Validation</a>&nbsp;
<a routerLink="{{locale.language}}/lazy">Lazy</a>&nbsp; -->

<h3>{{ 'changeLocale' | translate:locale.language }}</h3>

<button *ngFor="let item of schema" (click)="setLocale(item.locale)">{{ item.text }}</button>

<router-outlet></router-outlet>