language: node_js
sudo: required
services:
  - xvfb
node_js:
   - node
cache:
  yarn: true
  directories:
     - ./node_modules
     - ./.chrome/chromium
branches:
  only:
  - master
before_install:
  - export CHROME_BIN=/usr/bin/google-chrome
  - export DISPLAY=:99.0
before_script:
   - "sudo chown root /opt/google/chrome/chrome-sandbox"
   - "sudo chmod 4755 /opt/google/chrome/chrome-sandbox"
   - cd ${TRAVIS_BUILD_DIR}/client-side/angular
script:
   - npm run test
after_success:
  - npm run report-coverage
notifications:
  webhooks:
    on_success: change
    on_failure: always
    on_start: false
