<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Educational Website Port</label>
      <input type="text" name="educationalWebsitePort" [(ngModel)]="user.educationalWebsitePort"  class="form-control"  [port]="{'message':'Educational Website Port is not a proper port number'}" />
      <small class="form-text text-muted">enter port number only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.educationalWebsitePort?.errors">{{userForm.controls.educationalWebsitePort?.errors.port.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
