<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm">
    <div class="form-group">
      <label>Data Type</label>
      <select name="dataType" [(ngModel)]="userinfo.dataType"  class="form-control" >
		<option [value]="item" *ngFor="let item of dataTypes">{{item}}</option>
      </select>

	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.dataType?.errors">{{userinfoForm.controls?.dataType?.errors?.numeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Negative Number</label>
	    <input type="text" name="negativeNumber" [(ngModel)]="userinfo.negativeNumber"  class="form-control" />

      <small class="form-text text-muted">you can enter only a negative number<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.negativeNumber?.errors">{{userinfoForm.controls?.negativeNumber?.errors?.numeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Decimal Number</label>
	    <input type="text" name="decimalNumber" [(ngModel)]="userinfo.decimalNumber"  class="form-control" />

      <small class="form-text text-muted">you can enter only a positive decimal number<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.decimalNumber?.errors">{{userinfoForm.controls?.decimalNumber?.errors?.numeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Real Number</label>
	    <input type="text" name="realNumber" [(ngModel)]="userinfo.realNumber"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Real Number' then you need to add 'Data Type' input as 'Real'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.realNumber?.errors">{{userinfoForm.controls?.realNumber?.errors?.numeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Positive Number</label>
	    <input type="text" name="positiveNumber" [(ngModel)]="userinfo.positiveNumber"  class="form-control" />

      <small class="form-text text-muted">you can enter only a positive number<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.positiveNumber?.errors">{{userinfoForm.controls?.positiveNumber?.errors?.numeric.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
