<div>
  <form #locationForm = "ngForm" [rxwebForm]="locationForm" [model]="location">
    <div class="form-group">
      <label>Country Name</label>
	    <input type="text" name="countryName" [(ngModel)]="location.countryName"  class="form-control" upperCase/>

	   <small class="form-text text-danger" *ngIf="locationForm.controls?.countryName?.errors">{{locationForm.controls?.countryName?.errors?.upperCase.message}}<br/></small>	
    </div>
    <button [disabled]="!locationForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
