<div *ngIf="showComponent">
	<div class="alphaconfig comment-section">
		<h2>Github Issues</h2>
		<ul class="nav nav-tabs">
			<li [class.active]="activeTab == 'open'" (click)="tabClick('open')">
				<a data-toggle="tab">Open</a>
			</li>
			<li [class.active]="activeTab == 'close'" (click)="tabClick('close')">
				<a data-toggle="tab">Close</a>
			</li>
		</ul>
		<div class="tab-content padding-zero-tab">
			<div class="tab-pane" [class.active]="activeTab == 'open'">
				<p class="p-2" *ngIf="openIssuesList.length == 0">No Issues found.</p>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="openIssuesList.length > 0">
					<div class="panel" *ngFor="let item of openIssuesList | slice:0:5;let i = index;">
						<div class="panelheading" role="tab" id="heading{{item.id}}">
							<h4 class="panel-title que">
								<a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{item.id}}" aria-expanded="true" (click)="showOpenComments(item.comments_url,i)">
								 <i class="fa fa-lg" [ngClass]="{'fa-angle-down': item.isOpen, 'second': true, 'fa-angle-right': !item.isOpen}" aria-hidden="true"></i>
								 {{item.title}}
								</a>
							</h4>
						</div>
						<div id="collapse{{item.id}}" class="panel-collapse collapse" [class.in]="item.isOpen" role="tabpanel" aria-expanded="true">
							<div class="panel-body">
								<div class="issue">
									<p [innerHTML]="item.body"></p>
								</div>
								<div class="d-flex" *ngFor="let comment of comments;">
									<a href="{{comment.user.html_url}}" target="_blank"><img class="img-responsive d-inline-block avatar" src="{{comment.user.avatar_url}}" width="30" height="30"></a>
									<div class="model-ts">
										<p class="ts-title">
											<a class="comment-author muted-link" target="_blank" href="{{comment.user.html_url}}" data-bi-name="github-issue-comment-user">{{comment.user.login}}</a>
											<span> commented on {{comment.user.dayAgo}}</span>
										</p>
										<div class="code">
											<p [innerHtml]="comment.body"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="p-2" *ngIf="openIssuesList.length > 5">
						<a href="https://github.com/rxweb/rxweb/issues" target="_blank" class="pull-right">show more...</a>
					</div>
				</div>
			</div>
			<div class="tab-pane" [class.active]="activeTab == 'close'">
				<p class="p-2" *ngIf="closedIssuesList.length == 0">No Issues found.</p>
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" *ngIf="closedIssuesList.length > 0">
					<div class="panel" *ngFor="let item of closedIssuesList | slice:0:5; let i = index">
						<div class="panelheading" role="tab" id="heading{{item.id}}">
							<h4 class="panel-title que">
								<a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{item.id}}" aria-expanded="true" (click)="showCloseComments(item.comments_url,i)">
								 <i class="fa fa-lg" [ngClass]="{'fa-angle-down': item.isOpen, 'second': true, 'fa-angle-right': !item.isOpen}" aria-hidden="true"></i>
								 {{item.title}}
								</a>
							</h4>
						</div>
						<div id="collapse{{item.id}}" class="panel-collapse collapse" [class.in]="item.isOpen" role="tabpanel" aria-expanded="true">
							<div class="panel-body">
								<div class="issue">
									<p [innerHTML]="item.body"></p>
								</div>
								<div class="d-flex" *ngFor="let comment of comments;">
									<a href="{{comment.user.html_url}}" target="_blank"><img class="img-responsive d-inline-block avatar" src="{{comment.user.avatar_url}}" width="30" height="30"></a>
									<div class="model-ts">
										<p class="ts-title">
											<a class="comment-author muted-link" target="_blank" href="{{comment.user.html_url}}" data-bi-name="github-issue-comment-user">{{comment.user.login}}</a>
											<span> commented on {{comment.user.dayAgo}}</span>
										</p>
										<div class="code">
											<p [innerHtml]="comment.body"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="p-2" *ngIf="closedIssuesList.length > 5">
						<a href="https://github.com/rxweb/rxweb/issues?q=is%3Aissue+is%3Aclosed"  target="_blank" class="pull-right">show more...</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
				<div id="disqus_thread"></div>
			</div>
		</div>
	</div>
</div>