<div *ngIf="showComponent">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="hideParameterItems()">&times;</button>
                <h4 class="modal-title">Add Parameters</h4>
            </div>
            <div class="modal-body">
                <form *ngIf="parameterFormGroup" [formGroup]="parameterFormGroup">
                    <div *ngIf="parameterFormGroup['controls']['parameterItems']['controls']">
                        <table class="table table-bordered">
                            <tr [formGroup]="parameterForm" *ngFor="let parameterForm of parameterFormGroup['controls']['parameterItems']['controls'];let k=index;">
                                <ng-container *ngIf="(parameterForm.value.parameterType == 'string' && parameterForm.value.keyLabel != 'fieldName') || parameterForm.value.parameterType == 'number'">
                                    <td>{{parameterForm.value.keyLabel}}</td>
                                    <td><input type="text" class="form-control" formControlName="keyValue" /></td>
                                </ng-container>
                                <ng-container *ngIf="parameterForm.value.parameterType == 'boolean'">
                                    <td colspan="2">
                                        <div class="checkbox">
                                            <label><input type="checkbox" formControlName="keyValue">{{parameterForm.value.keyLabel}}</label>
                                        </div>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="(parameterForm.value.keyLabel == 'fieldName')">
                                    <td>{{parameterForm.value.keyLabel}}</td>
                                    <td>
                                        <select name="otherProperty" class="form-control" formControlName="keyValue">
                                            <option value="">Please Select</option>
                                            <option *ngFor="let otherProperty of otherProperties" [ngValue]="otherProperty">
                                                {{otherProperty}}
                                            </option>
                                        </select>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="(parameterForm.value.parameterType == 'IpVersion')">
                                    <td>{{parameterForm.value.keyLabel}}</td>
                                    <td>
                                        <select name="ipVersion" class="form-control" formControlName="keyValue">
                                            <option value="">Please Select</option>
                                            <option *ngFor="let ipVersion of ipVersions;let x = index;" [value]="x + 1">{{ipVersion}}</option>
                                        </select>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="(parameterForm.value.parameterType == 'NumericValueType')">
                                    <td>{{parameterForm.value.keyLabel}}</td>
                                    <td>
                                        <select name="numericValueType" class="form-control" formControlName="keyValue">
                                            <option value="">Please Select</option>
                                            <option *ngFor="let numericValueType of numericValueTypes;let x = index;"
                                                [value]="x + 1">{{numericValueType}}</option>
                                        </select>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="(parameterForm.value.parameterType == 'any[]' || parameterForm.value.parameterType == 'string[]')">
                                    <td>{{parameterForm.value.keyLabel}}</td>
                                    <td>
                                        <rx-tag freeTextEnabled="true" formControlName="keyValue" mainClass="form-control"></rx-tag>
                                    </td>
                                </ng-container>
                                <ng-container *ngIf="(parameterForm.value.parameterType == 'PasswordValidation')">
                                    <td colspan="4">
                                        <table class="table table-bordered">
                                            <ng-container *ngIf="parameterForm.value.parameterType == 'PasswordValidation' && parameterForm['controls']['subParamerterItems']">
                                                <tr><th colspan="2" class="center-align">{{parameterForm.value.keyLabel}}</th></tr>
                                                <tr [formGroup]="subParameter" *ngFor="let subParameter of parameterForm['controls']['subParamerterItems']['controls'];let o=index;">
                                                    <ng-container *ngIf="(subParameter.value.parameterType == 'string' || subParameter.value.parameterType == 'number')">
                                                        <td>{{subParameter.value.keyLabel}}</td>
                                                        <td><input type="text" class="form-control" formControlName="keyValue" /></td>
                                                    </ng-container>
                                                    <ng-container *ngIf="subParameter.value.parameterType == 'boolean'">
                                                        <td colspan="2">
                                                            <div class="checkbox">
                                                                <label><input type="checkbox" value="" formControlName="keyValue">{{subParameter.value.keyLabel}}</label>
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                </tr>
                                            </ng-container>
                                        </table>
                                    </td>
                                </ng-container>


                            </tr>

                        </table>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="submitParameterItems()">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="hideParameterItems()">Close</button>
            </div>
        </div>
    </div>
</div>