<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Birth Date</label>
	    <input type="text" name="birthDate" [(ngModel)]="userinfo.birthDate"  class="form-control" />

      <small class="form-text text-muted">You must enter a proper date format.<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.birthDate?.errors">{{userinfoForm.controls?.birthDate?.errors?.date.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Enrollment Date</label>
	    <input type="text" name="enrollmentDate" [(ngModel)]="userinfo.enrollmentDate"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Enrollment Date' then you need to add 'birthDate' input as '16/04/1997'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.enrollmentDate?.errors">{{userinfoForm.controls?.enrollmentDate?.errors?.date.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Allocation Date</label>
	    <input type="text" name="allocationDate" [(ngModel)]="userinfo.allocationDate"  class="form-control" />

      <small class="form-text text-muted">enter date format only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.allocationDate?.errors">{{userinfoForm.controls?.allocationDate?.errors?.date.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
