<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Allocation Date</label>
	    <input type="text" name="allocationDate" [(ngModel)]="userinfo.allocationDate"  class="form-control" [date]="{'message':'Allocation Date is not a valid date'}"/>

      <small class="form-text text-muted">enter date format only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.allocationDate?.errors">{{userinfoForm.controls?.allocationDate?.errors?.date.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
