<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Total Marks</label>
	    <input type="text" name="totalMarks" [(ngModel)]="user.totalMarks"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation of less than equal to validation on obtained marks or practical exam marks then Total Marks must be 100.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.totalMarks?.errors">{{userForm.controls?.totalMarks?.errors?.lessThanEqualTo.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Passing Marks</label>
	    <input type="text" name="passingMarks" [(ngModel)]="user.passingMarks"  class="form-control" [lessThanEqualTo]="{'fieldName':'totalMarks'}"/>

      <small class="form-text text-muted">Passing Marks less than to Total marks<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.passingMarks?.errors">{{userForm.controls?.passingMarks?.errors?.lessThanEqualTo.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
