<div>
<form *ngIf="hexcolorInfoFormGroup" [formGroup]="hexcolorInfoFormGroup">
<div class="form-group">
    <label>Body Hexcode</label>
    <input type="text" formControlName="bodyHexcolorCode" class="form-control"  />
    <small class="form-text text-muted">Shows custom message<br/></small>
    <small class="form-text text-danger" *ngIf="hexcolorInfoFormGroup.controls.bodyHexcolorCode.errors">{{hexcolorInfoFormGroup.controls.bodyHexcolorCode.errors.hexColor.message}}<br/></small>
</div>
<button [disabled]="!hexcolorInfoFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>