<div>
  <form #userinfoForm = "ngForm">
    <div class="form-group">
      <label>Negative Number</label>
      <input type="text" name="negativeNumber" [(ngModel)]="userinfo.negativeNumber"  class="form-control"  [numeric]="{'acceptValue':NumericValueType.NegativeNumber,'message':'Negative Number is not a negative number'}" />
      <small class="form-text text-muted">you can enter only a negative number<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls.negativeNumber?.errors">{{userinfoForm.controls.negativeNumber?.errors.numeric.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
