<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Registration Date</label>
	    <input type="text" name="registrationDate" [(ngModel)]="user.registrationDate"  class="form-control" [minDate]="{'value':'07/30/2018','message':'Registration Date exceeds the Minimum Date Limit'}"/>

      <small class="form-text text-muted">you can enter MinDate upto 30th july 2018<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.registrationDate?.errors">{{userForm.controls.registrationDate?.errors.minDate.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
