<div>
<form *ngIf="jsonInfoFormGroup" [formGroup]="jsonInfoFormGroup">
<div class="form-group">
    <label>Location Json</label>
    <input type="text" formControlName="locationJson" class="form-control"  />
    <small class="form-text text-danger" *ngIf="jsonInfoFormGroup.controls.locationJson.errors">{{jsonInfoFormGroup.controls.locationJson.errors.json.message}}<br/></small>
</div>
<div class="form-group">
    <label>Location</label>
    <input type="text" formControlName="location" class="form-control"  />
    <small class="form-text text-muted">'To apply the validation of JSON on 'addressJson' field, then enter the value of location is 'India'  in Location textbox.<br/></small>
    <small class="form-text text-danger" *ngIf="jsonInfoFormGroup.controls.location.errors">{{jsonInfoFormGroup.controls.location.errors.json.message}}<br/></small>
</div>
<div class="form-group">
    <label>Address Json</label>
    <input type="text" formControlName="addressJson" class="form-control"  />
    <small class="form-text text-muted">Conditional validation will be applied if the 'location' field have value India<br/></small>
    <small class="form-text text-danger" *ngIf="jsonInfoFormGroup.controls.addressJson.errors">{{jsonInfoFormGroup.controls.addressJson.errors.json.message}}<br/></small>
</div>
<div class="form-group">
    <label>Contact Json</label>
    <input type="text" formControlName="contactJson" class="form-control"  />
    <small class="form-text text-muted">Shows custom message<br/></small>
    <small class="form-text text-danger" *ngIf="jsonInfoFormGroup.controls.contactJson.errors">{{jsonInfoFormGroup.controls.contactJson.errors.json.message}}<br/></small>
</div>
<button [disabled]="!jsonInfoFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>