<div>
  <form #accountinfoForm = "ngForm">
    <div class="form-group">
      <label>Password</label>
      <input type="text" name="password" [(ngModel)]="accountinfo.password"  class="form-control"  [different]="{'fieldName':'firstName','message':'Password is same as firstName'}" />
      <small class="form-text text-muted">Password and firstName must be different<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="accountinfoForm.controls.password?.errors">{{accountinfoForm.controls.password?.errors.different.message}}<br/></small>	
    </div>
    <button [disabled]="!accountinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
