<aside id="menu">
	<div id="navigation" slimScroll>
		<ul class="nav" id="side-menu">
			<li>
				<a routerLink="reactive-form-validators"><span class="nav-label">REACTIVE FORM VALIDATORS</span><span class="fa arrow"></span></a>
				<ul class="nav nav-second-level collapse in" aria-expanded="false">
					<li>
						<a routerLink="import-modules"><span class="nav-label">Import Modules</span></a>
				</li>
					<li>
						<a routerLink="configure-global-validation-messages"><span class="nav-label">Global Validation Messages</span></a>
				</li>
					<li>
						<a routerLink=""><span class="nav-label">VALIDATION DECORATORS</span><span class="fa arrow"></span></a>
						<ul class="nav nav-third-level collapse in" aria-expanded="false">
							<li><a routerLink="reactive-form-validators/alpha"><span class="nav-label">alpha</span></a></li>
							<li><a routerLink="reactive-form-validators/alphaNumeric"><span class="nav-label">alphaNumeric</span></a></li>
							<li><a routerLink="reactive-form-validators/contains"><span class="nav-label">contains</span></a></li>
							<li><a routerLink="reactive-form-validators/compare"><span class="nav-label">compare</span></a></li>
							<li><a routerLink="reactive-form-validators/creditCard"><span class="nav-label">creditCard</span></a></li>
							<li><a routerLink="reactive-form-validators/digit"><span class="nav-label">digit</span></a></li>
							<li><a routerLink="reactive-form-validators/email"><span class="nav-label">email</span></a></li>
							<li><a routerLink="reactive-form-validators/greaterThan"><span class="nav-label">greaterThan</span></a></li>
							<li><a routerLink="reactive-form-validators/greaterThanEqualTo"><span class="nav-label">greaterThanEqualTo</span></a></li>
							<li><a routerLink="reactive-form-validators/hexColor"><span class="nav-label">hexColor</span></a></li>
							<li><a routerLink="reactive-form-validators/json"><span class="nav-label">json</span></a></li>
							<li><a routerLink="reactive-form-validators/lessThan"><span class="nav-label">lessThan</span></a></li>
							<li><a routerLink="reactive-form-validators/lessThanEqualTo"><span class="nav-label">lessThanEqualTo</span></a></li>
							<li><a routerLink="reactive-form-validators/lowerCase"><span class="nav-label">lowerCase</span></a></li>
							<li><a routerLink="reactive-form-validators/maxLength"><span class="nav-label">maxLength</span></a></li>
							<li><a routerLink="reactive-form-validators/maxNumber"><span class="nav-label">maxNumber</span></a></li>
							<li><a routerLink="reactive-form-validators/maxDate"><span class="nav-label">maxDate</span></a></li>
							<li><a routerLink="reactive-form-validators/minDate"><span class="nav-label">minDate</span></a></li>
							<li><a routerLink="reactive-form-validators/minLength"><span class="nav-label">minLength</span></a></li>
							<li><a routerLink="reactive-form-validators/minNumber"><span class="nav-label">minNumber</span></a></li>
							<li><a routerLink="reactive-form-validators/password"><span class="nav-label">password</span></a></li>
							<li><a routerLink="reactive-form-validators/pattern"><span class="nav-label">pattern</span></a></li>
							<li><a routerLink="reactive-form-validators/range"><span class="nav-label">range</span></a></li>
							<li><a routerLink="reactive-form-validators/required"><span class="nav-label">required</span></a></li>
							<li><a routerLink="reactive-form-validators/time"><span class="nav-label">time</span></a></li>
							<li><a routerLink="reactive-form-validators/upperCase"><span class="nav-label">upperCase</span></a></li>
							<li><a routerLink="reactive-form-validators/url"><span class="nav-label">url</span></a></li>
					</ul>
				</li>
		</ul>
			</li>
		</ul>
	</div>
	<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 0px; position: absolute; top: 0px; opacity: 0.3; display: none; border-radius: 7px; z-index: 99; right: 1px; height: auto;"></div>
	<div class="slimScrollRail" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
</aside>
