<aside id="menu" *ngIf="showComponent">
	<div id="navigation" slimScroll>
		<ul class="nav" id="side-menu">
			<li>
				<div class="input-group">
					<input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Search..." id="search-input">
				</div>
			</li>
			<li *ngFor="let link of links | filter:searchText">
				<a  (click)="link.isOpen = !link.isOpen" [routerLink]="link.uri" routerLinkActive="active"><span class="nav-label">{{link.title}}</span><span class="fa" [class.arrow]="link.isOpen" [class.fa-angle-down]="!link.isOpen"  *ngIf="link.childrens?.length > 0"></span></a>
				<ul [class.hide]="!link.isOpen" [class.show]="link.isOpen" class="nav nav-second-level collapse" aria-expanded="false" *ngIf="link.childrens?.length > 0">
					<li *ngFor="let secondLevel of link.childrens;let i = index">
						<a [routerLink]="secondLevel.uri" (click)="secondLevel.isOpen = !secondLevel.isOpen" routerLinkActive="active"><span class="nav-label">{{secondLevel.title}}</span><span class="fa" [class.arrow]="!secondLevel.isOpen" [class.fa-angle-down]="secondLevel.isOpen" *ngIf="secondLevel.childrens?.length > 0"></span>
						</a>
						<ul [class.hide]="!secondLevel.isOpen" [class.show]="secondLevel.isOpen" class="nav nav-third-level collapse" aria-expanded="false" *ngIf="secondLevel.childrens?.length > 0">
							<li *ngFor="let thirdLevel of secondLevel.childrens;let i = index">
								<a [routerLink]="thirdLevel.uri" routerLinkActive="active">
										<span class="nav-label">{{thirdLevel.title}}</span>
									</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 0px; position: absolute; top: 0px; opacity: 0.3; display: none; border-radius: 7px; z-index: 99; right: 1px; height: auto;"></div> 
	<div class="slimScrollRail" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
</aside>

