<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control"  />
      <small class="form-text text-muted">It should ends with 't'<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Profession' or 'Task Id', then you need to add 'name' input as 'Bharat'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.name.errors">{{userFormGroup.controls.name.errors.endsWith.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Task Id</label>
      <input type="text" formControlName="taskId" class="form-control"  />
      <small class="form-text text-muted">You can enter value which ends with '1'<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Task Id' then you need to add 'name' input as 'Bharat'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.taskId.errors">{{userFormGroup.controls.taskId.errors.endsWith.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Profession</label>
      <input type="text" formControlName="profession" class="form-control"  />
      <small class="form-text text-muted">You can enter value which ends with 'r'<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Profession' then you need to add 'name' input as 'Bharat'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.profession.errors">{{userFormGroup.controls.profession.errors.endsWith.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
