.fade.in {
            opacity: 0.9;
}
.fade {
    opacity: 0.3;
    -webkit-transition: opacity .3s linear;
}
.hide {
    display: none!important;
}

.spinner-in{
  z-index: 9999;
  /*position: absolute;*/
  position: absolute;
      background:#0f96e4;
    height: 2px;
      animation: loading 1s linear;
      top:0;
      width: 100%;
}


@keyframes loading {
  0%{
      width:0;
  }
  100% {
   width:100%;
  }
}