<div>
  <form #countryForm = "ngForm" [rxwebForm]="countryForm" [model]="country">
    <div class="form-group">
      <label> Continent</label>
	    <input type="text" name="continent" [(ngModel)]="country.continent"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Second Country Latitude' or 'Third Country Latitude', then you need to add 'Continent' input as 'Asia'.<br/></small>
	   <small class="form-text text-danger" *ngIf="countryForm.controls?.continent?.errors">{{countryForm.controls?.continent?.errors?.latitude.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Third Country Latitude</label>
	    <input type="text" name="thirdCountryLatitude" [(ngModel)]="country.thirdCountryLatitude"  class="form-control" [latitude]="{'conditionalExpression':'x => x.continent ==\'Asia\''}"/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'Third Country Latitude' then you need to add 'Continent' input as 'Asia'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="countryForm.controls?.thirdCountryLatitude?.errors">{{countryForm.controls?.thirdCountryLatitude?.errors?.latitude.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>First Country Latitude</label>
	    <input type="text" name="firstCountryLatitude" [(ngModel)]="country.firstCountryLatitude"  class="form-control" [latitude]="{'message':'First Country Latitude is not a latitude'}"/>

      <small class="form-text text-muted">You can enter only latitude<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="countryForm.controls?.firstCountryLatitude?.errors">{{countryForm.controls?.firstCountryLatitude?.errors?.latitude.message}}<br/></small>	
    </div>
    <button [disabled]="!countryForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
