<div>
  <form  [formGroup]="resultInfoFormGroup">
    <div class="form-group">
      <label>Maths</label>
      <input type="text" formControlName="maths" class="form-control"  />
      <small class="form-text text-muted">you can enter min number upto 35<br/></small>
	 <small class="form-text text-danger" *ngIf="resultInfoFormGroup.controls.maths.errors">{{resultInfoFormGroup.controls.maths.errors.minNumber.message}}<br/></small>	
    </div>
    <button [disabled]="!resultInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
