<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Multiples of Odd Number</label>
      <input type="text" formControlName="multiplesOfOddNumber" class="form-control"  />
      <small class="form-text text-muted">you can enter only an odd number<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.multiplesOfOddNumber.errors">{{userFormGroup.controls.multiplesOfOddNumber.errors.odd.message}}<br/></small>
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
