<div>
<form  [formGroup]="userFormGroup">
<div class="form-group">
    <label>Joining Year</label>
    <input type="text" formControlName="joiningYear" class="form-control"  />
    <small class="form-text text-muted">you can enter only a leap year<br/></small>
    <small class="form-text text-muted">Shows custom message.<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.joiningYear.errors">{{userFormGroup.controls.joiningYear.errors.leapYear.message}}<br/></small>
</div>
<button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>