<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Enrollment Date</label>
      <input type="text" formControlName="enrollmentDate" class="form-control"  />
      <small class="form-text text-muted">you can enter MinDate upto 30th july 2018<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.enrollmentDate.errors">{{userFormGroup.controls.enrollmentDate.errors.minDate?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Last Registration Date</label>
      <input type="text" formControlName="lastRegistrationDate" class="form-control"  />
      <small class="form-text text-muted">you can enter MinDate upto value mentioned in fieldName<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.lastRegistrationDate.errors">{{userFormGroup.controls.lastRegistrationDate.errors.minDate?.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
