<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>IP V4</label>
      <input type="text" formControlName="ipV4" class="form-control"  />
      <small class="form-text text-muted">This validation is applied when input value is not IP V4 Type<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.ipV4.errors">{{userFormGroup.controls.ipV4.errors.ip?.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
