<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Name</label>
	    <input type="text" name="name" [(ngModel)]="user.name"  class="form-control" [endsWith]="{'value':'t'}"/>

      <small class="form-text text-muted">It should ends with 't'<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Profession' or 'Task Id', then you need to add 'name' input as 'Bharat'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.name?.errors">{{userForm.controls?.name?.errors?.endsWith.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Task Id</label>
	    <input type="text" name="taskId" [(ngModel)]="user.taskId"  class="form-control" [endsWith]="{'value':'1','conditionalExpression':'x => x.name ==\'Bharat\''}"/>

      <small class="form-text text-muted">You can enter value which ends with '1'<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Task Id' then you need to add 'name' input as 'Bharat'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.taskId?.errors">{{userForm.controls?.taskId?.errors?.endsWith.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Company</label>
	    <input type="text" name="company" [(ngModel)]="user.company"  class="form-control" [endsWith]="{'value':'b','message':'Company does not ends with `b`'}"/>

      <small class="form-text text-muted">Input should endsWith `b`<br/></small>
      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.company?.errors">{{userForm.controls?.company?.errors?.endsWith.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
