<div id="wrapper" *ngIf="showComponent">
	<div class="content">
		<div class="title">
	<span class="label validator-type">validators</span>
	<h1> password  </h1>
	<p> Password validation validator will allow user to enter only the input according to correct password validation format.</p>
</div>
		<div class="bg-white py-3 border-radius">
			<div class="row">
				<div class="col-lg-12">
					<div class="hpanel">
						<div class="panel-body validation-tab">
							<div class='row' id= 'whentouse'>
<div class='col-lg-12'>
<h2>When to use</h2>

<p>Let’s assume that you are creating a login form, which contains fields like newPassword and oldPassword and you want the user to enter valid Password pattern. Here depending upon the requirement these scenarios may arise.	</p>
<ol>
	<li> Adding Custom Message on oldPassword Field.</li>
	<li> Apply validation in newPassword validation there is validators on digit, alphabets, contains, lowerCase, upperCase, specialCharacter, minLength, maxLength.</li>
	<li> Apply dynamic validation, If the validation will be changed based on some criteria in the application.</li>
</ol>
<p>Let’s see how password validator fulfil the need.</p>
</div>
</div>
<div class='row' id= 'basicpasswordvalidation'>
<div class='col-lg-12'>
<h2>Basic password Validation</h2>

<p>We need to create a FormGroup in the component. To achieve this we need to add RxFormBuilder. The RxFormBuilder is an injectable service that is provided with the RxReactiveFormsModule. Inject this dependency by adding it to the component constructor.</p>
<p>Here we have covered Add form operation. </p>
<div class="model-ts" >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.add.Component" (cbOnSuccess)="codeContent.add.ComponentCopied = true" [class.copied]="codeContent.add.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.add.Component"></code></pre>
			</div>
	</div>
</div>


<p>Next, we need to write html code.</p>
<div class="model-ts" >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.add.Html" (cbOnSuccess)="codeContent.add.HtmlCopied = true" [class.copied]="codeContent.add.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.add.Html"></code></pre>
			</div>
	</div>
</div>


<div class="model-ts combined " >
	<div class="code-example-title">
		password validator for add Example
	</div>
	<div class="code-example">
			 <app-password-add-validator></app-password-add-validator>

	</div>
</div>
</div>
</div>
<div class='row' id= 'passwordconfig'>
<div class='col-lg-12'>
<h2>PasswordConfig</h2>

<p>message options are not mandatory to use in the <span class='highlighted'>RxwebValidators.password()</span> validator but validation is mandatory. If needed then use the below options.</p>
 <table class="table table-bordered table-striped">
			<thead>
		<tr>
					<th>Option</th>
					<th>Description </th>
				</tr>
		</thead>
		<tbody>
			<tr>	<td><a href='#message' title='message' (click)='scrollTo("#message")'>message</a></td> 	<td>To override the global configuration message and show the custom message on particular control property. </td> </tr>	<tr>	<td><a href='#validation' title='validation' (click)='scrollTo("#validation")'>validation</a></td> 	<td>Validation is used for setting the parameters for password validation, In Password validation there is validations on digit, alphabets, contains, lowerCase, upperCase, specialCharacter, minLength, maxLength. </td> </tr>		</tbody>
	 </table>

</div>
</div>
<div class='row' id= 'message'>
<div class='col-lg-12'>
<h2>message</h2>

<p>Type :  <span class='highlighted'>string</span> </p>
<p>To override the global configuration message and show the custom message on particular control property.</p>
<blockquote *ngIf="codeContent.messageExample && codeContent.messageExample.Notes?.length > 0">
	<ng-container *ngFor="let item of codeContent.messageExample.Notes">
	  <p [innerHtml]="item"></p>
	</ng-container>
</blockquote>
<div class="model-ts">
	<div class="code">
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.messageExample.Model"></code></pre>
			</div>
	</div>
</div>


<ul class="nav nav-tabs" *ngIf="message">
	<li [class.active]="tab_1=='messageComponent'" (click)="tab_1='messageComponent'"><a>Component</a></li>
	<li [class.active]="tab_1=='messageHtml'" (click)="tab_1='messageHtml'"><a>Html</a></li>
</ul>
<div class="tab-content" *ngIf="message">
			  <div class="tab-pane" [class.active]="tab_1=='messageComponent'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.message.Component" (cbOnSuccess)="codeContent.message.ComponentCopied = true" [class.copied]="codeContent.message.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.message.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_1=='messageHtml'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.message.Html" (cbOnSuccess)="codeContent.message.HtmlCopied = true" [class.copied]="codeContent.message.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.message.Html"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
<div class="model-ts combined " >
<a class="float-right copy-icon" (click)="message=!message"><i aria-hidden="true" class="fa fa-code"></i></a>

	<div class="code-example-title">
		password validator with custom message
	</div>
	<div class="code-example">
			 <app-password-message-validator></app-password-message-validator>

	</div>
</div>
</div>
</div>
<div class='row' id= 'validation'>
<div class='col-lg-12'>
<h2>validation</h2>

<p>Type :  <span class='highlighted'>PasswordValidation</span></p>
<p>Password Validation is used for setting the parameters for password validation, In Password validation there is validation on digit, alphabets, contains, lowerCase, upperCase, specialCharacter, minLength, maxLength.</p>
<blockquote *ngIf="codeContent.validationExample && codeContent.validationExample.Notes?.length > 0">
	<ng-container *ngFor="let item of codeContent.validationExample.Notes">
	  <p [innerHtml]="item"></p>
	</ng-container>
</blockquote>
<div class="model-ts">
	<div class="code">
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.validationExample.Model"></code></pre>
			</div>
	</div>
</div>


<ul class="nav nav-tabs" *ngIf="validation">
	<li [class.active]="tab_2=='validationComponent'" (click)="tab_2='validationComponent'"><a>Component</a></li>
	<li [class.active]="tab_2=='validationHtml'" (click)="tab_2='validationHtml'"><a>Html</a></li>
</ul>
<div class="tab-content" *ngIf="validation">
			  <div class="tab-pane" [class.active]="tab_2=='validationComponent'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.validation.Component" (cbOnSuccess)="codeContent.validation.ComponentCopied = true" [class.copied]="codeContent.validation.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.validation.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_2=='validationHtml'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.validation.Html" (cbOnSuccess)="codeContent.validation.HtmlCopied = true" [class.copied]="codeContent.validation.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.validation.Html"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
<div class="model-ts combined " >
<a class="float-right copy-icon" (click)="validation=!validation"><i aria-hidden="true" class="fa fa-code"></i></a>

	<div class="code-example-title">
		password validator with validation
	</div>
	<div class="code-example">
			 <app-password-validation-validator></app-password-validation-validator>

	</div>
</div>
</div>
</div>
<div class='row' id= 'completepasswordexample'>
<div class='col-lg-12'>
<h2>Complete password Example</h2>

<ul class="nav nav-tabs" >
	<li [class.active]="tab_3=='completeExample'" (click)="tab_3='completeExample'"><a>Example</a></li>
	<li [class.active]="tab_3=='completeComponent'" (click)="tab_3='completeComponent'"><a>Component</a></li>
	<li [class.active]="tab_3=='completeHtml'" (click)="tab_3='completeHtml'"><a>Html</a></li>
</ul>
<div class="tab-content" >
			  <div class="tab-pane" [class.active]="tab_3=='completeExample'">
			<app-password-complete-validator></app-password-complete-validator>

		  </div>
			  <div class="tab-pane" [class.active]="tab_3=='completeComponent'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.complete.Component" (cbOnSuccess)="codeContent.complete.ComponentCopied = true" [class.copied]="codeContent.complete.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.complete.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_3=='completeHtml'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.complete.Html" (cbOnSuccess)="codeContent.complete.HtmlCopied = true" [class.copied]="codeContent.complete.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.complete.Html"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
</div>
</div>
<div class='row' id= 'dynamicpasswordexample'>
<div class='col-lg-12'>
<h2>Dynamic password Example</h2>

<ul class="nav nav-tabs" >
	<li [class.active]="tab_4=='dynamicExample'" (click)="tab_4='dynamicExample'"><a>Example</a></li>
	<li [class.active]="tab_4=='dynamicComponent'" (click)="tab_4='dynamicComponent'"><a>Component</a></li>
	<li [class.active]="tab_4=='dynamicHtml'" (click)="tab_4='dynamicHtml'"><a>Html</a></li>
</ul>
<div class="tab-content" >
			  <div class="tab-pane" [class.active]="tab_4=='dynamicExample'">
			<app-password-dynamic-validator></app-password-dynamic-validator>

		  </div>
			  <div class="tab-pane" [class.active]="tab_4=='dynamicComponent'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.dynamic.Component" (cbOnSuccess)="codeContent.dynamic.ComponentCopied = true" [class.copied]="codeContent.dynamic.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.dynamic.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_4=='dynamicHtml'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.dynamic.Html" (cbOnSuccess)="codeContent.dynamic.HtmlCopied = true" [class.copied]="codeContent.dynamic.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.dynamic.Html"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
	  
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<app-disqus></app-disqus>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<app-right-sidebar [sidebarLinks]="sidebarLinks"></app-right-sidebar>
</div>

