<div>
  <form  [formGroup]="addressInfoFormGroup">
    <div class="form-group">
      <label>State Name</label>
      <input type="text" formControlName="stateName" class="form-control"  />
      <small class="form-text text-muted">This allowed whitespace in alpha validation<br/></small>
	 <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.stateName.errors">{{addressInfoFormGroup.controls.stateName.errors.alpha.message}}<br/></small>	
    </div>
    <button [disabled]="!addressInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
