<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>Company</label>
	    <input type="text" name="company" [(ngModel)]="user.company"  class="form-control" />

      <small class="form-text text-muted">Input should endsWith `b`<br/></small>
      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.company?.errors">{{userForm.controls?.company?.errors?.endsWith.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
