<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Age</label>
      <input type="text" name="age" [(ngModel)]="user.age"  class="form-control"  greaterThanEqualTo />
	   <small class="form-text text-danger" *ngIf="userForm.controls.age?.errors">{{userForm.controls.age?.errors.greaterThanEqualTo.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Voter Age</label>
      <input type="text" name="voterAge" [(ngModel)]="user.voterAge"  class="form-control"  [greaterThanEqualTo]="{'fieldName':'age'}" />
      <small class="form-text text-muted">This is checking greater than equal to validation for Voter Age must be greater than equal to age.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.voterAge?.errors">{{userForm.controls.voterAge?.errors.greaterThanEqualTo.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
