<div>
  <form  [formGroup]="countryFormGroup">
    <div class="form-group">
      <label>First Country</label>
      <input type="text" formControlName="firstCountry" class="form-control"  />
      <small class="form-text text-muted">You must enter a proper Latitude or Longitude<br/></small>
      <small class="form-text text-danger" *ngIf="countryFormGroup.controls.firstCountry.errors">{{countryFormGroup.controls.firstCountry.errors.latLong.message}}<br/></small>
    </div>
    <button [disabled]="!countryFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
