<div class="container">
  <h1 class="display-4">Decorator Examples</h1>
  <table class="table" width="100%">
    <thead>
      <tr>
        <th width="50%">Category</th>
        <th width="50%">Output</th>
      </tr>
    </thead>
    <tr>
      <td class="category">Simple Multilingual Text</td>
      <td>
        <span class="badge badge-{{translate.currentLang}}">

          {{global.greet}}

        </span>
      </td>
    </tr>
    <tr>
      <td class="category">Multilingual Text with Custom Parameter</td>
      <td>
        <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" class="form-control">

        <span class="margin-left badge badge-{{translate.currentLang}}">

          {{global.notification }}

        </span>

      </td>
    </tr>

    <tr>
      <td class="category">Conditional Text</td>
      <td>
        <span class="badge badge-{{translate.currentLang}}">

          {{global.conditionalText }}

        </span>


        <a class="margin-left  badge badge-light btn-click" (click)="changeMeridiem()">
          {{meridiem == "am" ? 'Greet Good Day' : 'Greet Good Morning' }}
        </a>

      </td>
    </tr>

    <tr>
      <td class="category">Reuse Text</td>
      <td>
        <span class="badge badge-{{translate.currentLang}}">

          {{global.reuseText }}

        </span>


      </td>
    </tr>

    <tr>
      <td class="category">Inline Loader</td>
      <td>
        <span class="badge badge-{{translate.currentLang}}">

          {{inline.text }}

        </span>


      </td>
    </tr>

    <tr>
      <td class="category">Async Source</td>
      <td>

        <select name="control" class="form-control">
          <option *ngFor="let item of countries | async" [value]="item.countryId">{{item.countryName}}</option>
        </select>

      </td>
    </tr>

    <tr>
      <td class="category">On Demand Text Translation</td>
      <td>
        <div class="col-sm-12" style="padding-top:10px; padding-bottom:10px;">
          <table class="table table-sm example-table-color ">
            <tbody>
              <tr>
                <th style="width:50%">Name</th>
                <th style="width:50%">Action</th>
              </tr>
              <tr *ngFor="let user of [{'name':'John'},{'name':'Donald'}];">
                <td>{{user.name}}</td>
                <td>
                  <svg (click)="selectUser(user)" class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                  </svg>

                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="message" class="row">
            <div style="background-color:#5fb485!important;color:white;" class="alert alert-primary"
                 role="alert">
              {{message}}
            </div>
          </div>
        </div>
      </td>
    </tr>

    <tr>
      <td class="category">On Demand Text Translation</td>
      <td>
        <div class="col-sm-12" style="padding-top:10px; padding-bottom:10px;">
          <table class="table table-sm example-table-color ">
            <tbody>
              <tr>
                <th style="width:50%">Key Name</th>
                <th style="width:50%">Key Value</th>
              </tr>
              <tr *ngFor="let key of keys;">
                <td><span class="badge badge-light">{{key}}</span></td>
                <td>
                  <span class="badge badge-{{translate.currentLang}}">{{global.get(key)}}</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>


    <tr>
      <td class="category">Bind the text on basis of translation name.</td>
      <td>
        <span class="badge badge-{{translate.currentLang}}">

          {{dashboard.dashboardHeading }}

        </span>
      </td>
    </tr>

    <tr>
      <td class="category">Resolve translations based upon file path.</td>
      <td>
        <span class="badge badge-light">

          {{dashboardEnglish.dashboardHeading }}

        </span>
      </td>
    </tr>

    <tr>
      <td class="category">Fixed Multilingual Text in <span class="badge badge-fr pd-0">french</span>  language.</td>
      <td>
        <span class="badge badge-fr">

          {{globalFrench.greet}}

        </span>
      </td>
    </tr>
  </table>
</div>
