<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <app-title [title]="codeContent.title" [description]="codeContent.description" [mainType]="mainType" [activeTab]="activeTab" [validationName]="validationName" [validatorType]="codeContent.validatorType"
            [validationTypeTitle]="codeContent.validationTypeTitle" [templateDrivenType]="templateDrivenType"></app-title>
        <div class="bg-white border-radius tab-fade">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="tab-content fade" [class.show]="showViewer">
                            <div class="tab-pane panel-body validation-tab active">
                                <div class="tabs-left" *ngIf="showViewer" [@enterAnimation]>
                                        <button class="btn  example-btn" [class.btn-primary]="!showExample" [class.btn-outline-secondary]="showExample" *ngIf="mainType != 'how-to'" (click)="routeExample()">Examples Only</button>
                                    <page-viewer [content]="codeContent.htmlContent" [tabArray]="codeContent.tabArray"
                                        [data]="jsonContent" [typeName]="typeName" [templateDrivenType]="templateDrivenType" [showExample]="showExample"></page-viewer>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-right-sidebar [sidebarLinks]="codeContent.rightSidebarLinks"></app-right-sidebar>
</div>