<div class="row page-section" id="contribution">
    <div class="col-lg-12">
        <h2>Help to make this document better</h2>
        <p> We welcome your contributions to improve the docs which is more valuable for others. All docs are open
            source and available on Github. </p>
        <p> If you have any suggestion on {{pageName}} page, then please go ahead and edit the to edit the <a href="{{gitEditUrl}}"
                target="_blank" rel="noopener">{{pageName}}</a> page. Before doing changes in the {{pageName}} page, please read the
            <a routerLink="/community/contributing">contributing guide</a> first.</p>

        <p>If you see the problem in the guide and you want to report an issue then open an issue on <a href="https://github.com/rxweb/rxweb/issues"
                target="_blank" rel="noopener">github</a>.</p>
    </div>
</div>