<div>
  <form  [formGroup]="macAddressInfoFormGroup">
    <div class="form-group">
      <label>System MAC Address</label>
      <input type="text" formControlName="systemMacAddress" class="form-control"  />
      <small class="form-text text-muted">enter MAC address only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	 <small class="form-text text-danger" *ngIf="macAddressInfoFormGroup.controls.systemMacAddress.errors">{{macAddressInfoFormGroup.controls.systemMacAddress.errors.mac?.message}}<br/></small>	
    </div>
    <button [disabled]="!macAddressInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
