<div>
  <form  [formGroup]="jsonInfoFormGroup">
    <div class="form-group">
      <label>Location</label>
      <input type="text" formControlName="location" class="form-control"  />
      <small class="form-text text-muted">'To apply the validation of JSON on 'addressJson' or 'locationJson' field, then enter the value of location is &#123;CountryName:India&#125; in Location textbox.<br/></small>
      <small class="form-text text-danger" *ngIf="jsonInfoFormGroup.controls.location.errors">{{jsonInfoFormGroup.controls.location.errors.json.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Location Json</label>
      <input type="text" formControlName="locationJson" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Location Json' then you need to add 'Location' input as &#123;CountryName:India&#125;.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
      <small class="form-text text-danger" *ngIf="jsonInfoFormGroup.controls.locationJson.errors">{{jsonInfoFormGroup.controls.locationJson.errors.json.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Contact Json</label>
      <input type="text" formControlName="contactJson" class="form-control"  />
      <small class="form-text text-muted">Shows custom message<br/></small>
      <small class="form-text text-danger" *ngIf="jsonInfoFormGroup.controls.contactJson.errors">{{jsonInfoFormGroup.controls.contactJson.errors.json.message}}<br/></small>
    </div>
    <button [disabled]="!jsonInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
