<div>
<form *ngIf="resultInfoFormGroup" [formGroup]="resultInfoFormGroup">
<div class="form-group">
    <label>Statastics</label>
    <input type="text" formControlName="statastics" class="form-control"  />
    <small class="form-text text-muted">Conditional validation will be applied if the 'Maths' field have value of '50'<br/></small>
    <small class="form-text text-muted">you can enter min number upto 35<br/></small>
    <small class="form-text text-danger" *ngIf="resultInfoFormGroup.controls.statastics.errors">{{resultInfoFormGroup.controls.statastics.errors.minNumber.message}}<br/></small>
</div>
<button [disabled]="!resultInfoFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>