<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Special Character Ascii Code</label>
	    <input type="text" name="specialCharAsciiCode" [(ngModel)]="user.specialCharAsciiCode"  class="form-control" />

      <small class="form-text text-muted">You must enter an Ascii Code only<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.specialCharAsciiCode?.errors">{{userForm.controls.specialCharAsciiCode?.errors.ascii.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
