<div>
  <form #numberinfoForm = "ngForm" [rxwebForm]="numberinfoForm" [model]="numberinfo">
    <div class="form-group">
      <label>First Number</label>
	    <input type="text" name="firstNumber" [(ngModel)]="numberinfo.firstNumber"  class="form-control" />

      <small class="form-text text-muted">You can enter only prime number<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="numberinfoForm.controls?.firstNumber?.errors">{{numberinfoForm.controls?.firstNumber?.errors?.primeNumber.message}}<br/></small>	
    </div>
    <button [disabled]="!numberinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
