.form-control.ng-invalid,
.custom-select.ng-invalid {
  border-bottom: 1px solid #dc3545 !important;
}

rx-select.ng-invalid .search-field input.form-control {
  border-bottom: 1px solid #dc3545 ;
}

rx-tag.ng-invalid .search-field input.form-control {
  border-bottom: 1px solid #dc3545 ;
}
rx-date.ng-invalid .input-group input.form-control {
  border-bottom: 1px solid #dc3545;
}
