.display-block {
    display:block;
}
.modal-backdrop-validation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 66000;
  background-color: #000;
}

.modal-validation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 66101;
  display: none;
  overflow: hidden;
  outline: 0;
}
