.toast-container {
    /*width: 350px;*/
    position: fixed;
    /*overflow:hidden !important;*/
}

    .toast-container > * {
        text-align: center;
    }

.top-right {
    top: 12px;
    right: 12px;
}

.bottom-right {
    bottom:0px;
    right: 12px;
}

.bottom-left {
    bottom: 12px;
    left: 12px;
}

.top-left {
    top: 12px;
    left: 12px;
}

.top-center {
    left: 50%;
    top:12px;
}

.bottom-center {
    bottom: 12px;
    left: 50%;
    /*width: 100%;*/
}

.top-full-width {
    top: 12px;
    left: 0px;
    width: 100%;
}

    .top-full-width > div {
        width: 100%;
    }

.bottom-full-width {
    bottom: 12px;
    left: 0px;
    width: 100%;
}

    .bottom-full-width > div {
        width: 100%;
    }
.success {
  visibility: visible !important;
  background-color: #51a351;
  color: #fff;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.1s, fadeout 0.1s 2.5s;
}


@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 0px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 0px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 0px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 0px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
.error {
  visibility: visible !important;
  /*background-color: #841F1F;*/
  background-color: #bd362f;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.1s, fadeout 0.1s 2.5s;
}

.warning {
  visibility: visible !important;
  /*background-color:#CEA017;*/
  background-color: #f89406;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.1s, fadeout 0.1s 2.5s;
}

.info {
  visibility: visible !important;
  background-color: #2f96b4;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.1s, fadeout 0.1s 2.5s;
}
/*.toast-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 10px !important;
  min-height: 55px;
  font-size: 17px;
  padding: 13px !important;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
  z-index: 1;
  padding: 2px;
  position: relative;
  text-align: center;
  color: white !important;
  vertical-align: middle;
  color: #fff;
}*/

.toast-card {
  position: relative;
  pointer-events: auto;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 18px 20px;
  min-width: 300px;
  border-radius: 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -webkit-box-shadow: 0 0 12px #999;
  box-shadow: 0 0 12px #999;
  color: #fff;
  opacity: .8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80);
  text-align: left;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.toast-card:hover{
opacity:1;
}
 .toast-card .toast-message {
    color: #fff;
    padding-right:15px;
    /*margin: 0em 2em 1em 2em;*/
  }

    .toast-card .toast-title {
        text-transform: uppercase;
        margin: 16px;
        font-size: 18px;
    }

  .toast-card .close {
    color: #fff;
    margin-left: auto;
    font-size:16px;
  }
  .toast-card .icon {
    font-size: 22px;
    margin-right: 15px;
    -ms-flex-item-align: center;
    align-self: center;
  }
