<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Ip Type</label>
      <select formControlName="ipType" class="form-control">
		<option [value]="item" *ngFor="let item of ipTypes">{{item}}</option>
      </select>
      <small class="form-text text-muted">Based on selection of ip type conditional validation is applied<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.ipType.errors">{{userFormGroup.controls.ipType.errors.ip?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>IP V4 Conditional</label>
      <input type="text" formControlName="ipV4Conditional" class="form-control"  />
      <small class="form-text text-muted">This validation allowed ip version 6 and if ip type is IPV6 and conditionally validated<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.ipV4Conditional.errors">{{userFormGroup.controls.ipV4Conditional.errors.ip?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>IP V6 Conditional</label>
      <input type="text" formControlName="ipV6Conditional" class="form-control"  />
      <small class="form-text text-muted">This validation allowed ip version 6 and if ip type is IPV6 and conditionally validated<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.ipV6Conditional.errors">{{userFormGroup.controls.ipV6Conditional.errors.ip?.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
