<div class="container">
  <h1 class="display-4">Other Intuitive Features</h1>
  <table class="table" width="100%">
    <thead>
      <tr>
        <th width="50%">Category</th>
        <th width="50%">Output</th>
      </tr>
    </thead>
    <tr>
      <td class="category">Automatically Set Page Title</td>
      <td style="text-align:justify">

          See the page title, which is being changed once you change the language. This works only adding the key of 'pageTitle' in JSON file.

      </td>
    </tr>

    <tr>
      <td class="category">Resolve Content By Angular Preload Module Strategy</td>
      <td style="text-align:justify">
        See the network request, you will see 'pre-load-module' which loads according to the pre loading startegy, Whenever this activates it's load all respective component multilingual JSON, like if you check the request then you will see the request of 'i18n/child-data/en.json'.
      </td>
    </tr>
  </table>
</div>
