/* You can add global styles to this file, and also import other style files */
@import url('../src/assets/styles/bootstrap.min.css');
@import url('../src/assets/styles/style.css');
@import url('../src/assets/styles/font-awesome.min.css');
@import url('../src/assets/styles/pe-icon-7-stroke.css');
@import url('../src/assets/styles/hljs.css');
@import url('../src/assets/styles/metisMenu.min.css');
@import url('../src/assets/styles/spinner.css');
/* @import url('../src/assets/styles/default.min.css'); */

