<div>
<form *ngIf="subjectDetailsFormGroup" [formGroup]="subjectDetailsFormGroup">
<div class="form-group">
    <label>Subject Code</label>
    <input type="text" formControlName="subjectCode" class="form-control"  />
    <small class="form-text text-muted">If you want to apply conditional validation on 'Maximum Marks' or 'Obtained Marks', then you need to add 'Type' input as '8CS5A'<br/></small>
    <small class="form-text text-danger" *ngIf="subjectDetailsFormGroup.controls.subjectCode.errors">{{subjectDetailsFormGroup.controls.subjectCode.errors.maxNumber.message}}<br/></small>
</div>
<div class="form-group">
    <label>Maximum Marks for above subject code</label>
    <input type="text" formControlName="maximumMarks" class="form-control"  />
    <small class="form-text text-muted">To apply the validation of Max Number on 'Maximum Marks' field, then enter the value '8CS5A' in 'Subject Code' textbox and you can enter maxNumber upto 100<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
    <small class="form-text text-danger" *ngIf="subjectDetailsFormGroup.controls.maximumMarks.errors">{{subjectDetailsFormGroup.controls.maximumMarks.errors.maxNumber.message}}<br/></small>
</div>
<div class="form-group">
    <label>Obtained Marks for above subject code</label>
    <input type="text" formControlName="obtainedMarks" class="form-control"  />
    <small class="form-text text-muted">To apply the validation of Max Number on 'Obtained Marks' field, then enter the value '8CS5A' in 'Subject Code' textbox and you can enter maxNumber upto 100<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
    <small class="form-text text-danger" *ngIf="subjectDetailsFormGroup.controls.obtainedMarks.errors">{{subjectDetailsFormGroup.controls.obtainedMarks.errors.maxNumber.message}}<br/></small>
</div>
<div class="form-group">
    <label>Passing Marks</label>
    <input type="text" formControlName="passingMarks" class="form-control"  />
    <small class="form-text text-muted">you can enter MaxNumber upto 50<br/></small>
    <small class="form-text text-danger" *ngIf="subjectDetailsFormGroup.controls.passingMarks.errors">{{subjectDetailsFormGroup.controls.passingMarks.errors.maxNumber.message}}<br/></small>
</div>
<button [disabled]="!subjectDetailsFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>