<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Type</label>
	    <input type="text" name="type" [(ngModel)]="user.type"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Number' or 'Odd Number', then you need to add 'Type' input as 'Odd'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.type?.errors">{{userForm.controls.type?.errors.odd.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Odd Number</label>
	    <input type="text" name="oddNumber" [(ngModel)]="user.oddNumber"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Odd Number' then you need to add 'Type' input as 'Odd'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.oddNumber?.errors">{{userForm.controls.oddNumber?.errors.odd.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Multiples of Odd Number</label>
	    <input type="text" name="multiplesOfOddNumber" [(ngModel)]="user.multiplesOfOddNumber"  class="form-control" />

      <small class="form-text text-muted">you can enter only an odd number<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.multiplesOfOddNumber?.errors">{{userForm.controls.multiplesOfOddNumber?.errors.odd.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
