<div>
  <form #logininfoForm = "ngForm" [rxwebForm]="logininfoForm">
    <div class="form-group">
      <label>Old Password</label>
	    <input type="text" name="oldPassword" [(ngModel)]="logininfo.oldPassword"  class="form-control" [password]="{'validation':{maxLength: 10,minLength: 5,digit: true,specialCharacter: true},'message':'Password is not valid'}"/>

      <small class="form-text text-muted">Shows Custom Validation Message<br/></small>
	   <small class="form-text text-danger" *ngIf="logininfoForm.controls?.oldPassword?.errors">{{logininfoForm.controls?.oldPassword?.errors?.password.message}}<br/></small>	
    </div>
    <button [disabled]="!logininfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
