<div>
  <form #logininfoForm = "ngForm" [rxwebForm]="logininfoForm" [model]="logininfo">
    <div class="form-group">
      <label>New Password</label>
	    <input type="text" name="newPassword" [(ngModel)]="logininfo.newPassword"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="logininfoForm.controls?.newPassword?.errors">{{logininfoForm.controls?.newPassword?.errors?.password.message}}<br/></small>	
    </div>
    <button [disabled]="!logininfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
