<div>
  <form #storagecapacityForm = "ngForm">
    <div class="form-group">
      <label>Photograph Storage Size</label>
      <input type="text" name="photographStorageSize" [(ngModel)]="storagecapacity.photographStorageSize"  class="form-control"  [fileSize]="{'maxSize':50,'conditionalExpression':'x => x.device ==\'SmartPhone\''}" />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Photograph Storage Size' then you need to add 'Device' input as 'SmartPhone'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="storagecapacityForm.controls.photographStorageSize?.errors">{{storagecapacityForm.controls.photographStorageSize?.errors.fileSize.message}}<br/></small>	
    </div>
    <button [disabled]="!storagecapacityForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
