<div>
  <form #storagecapacityForm = "ngForm">
    <div class="form-group">
      <label>Device</label>
	    <input type="text" name="device" [(ngModel)]="storagecapacity.device"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Document Storage Size' or 'Photograph Storage Size', then you need to add 'Device' input as 'SmartPhone'<br/></small>
	   <small class="form-text text-danger" *ngIf="storagecapacityForm.controls.device?.errors">{{storagecapacityForm.controls.device?.errors.fileSize.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Photograph Storage Size</label>
	    <input type="text" name="photographStorageSize" [(ngModel)]="storagecapacity.photographStorageSize"  class="form-control" [fileSize]="{'maxSize':50,'conditionalExpression':'x => x.device ==\'SmartPhone\''}"/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'Photograph Storage Size' then you need to add 'Device' input as 'SmartPhone'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="storagecapacityForm.controls.photographStorageSize?.errors">{{storagecapacityForm.controls.photographStorageSize?.errors.fileSize.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Video Storage Size</label>
	    <input type="text" name="videoStorageSize" [(ngModel)]="storagecapacity.videoStorageSize"  class="form-control" [fileSize]="{'maxSize':50,'message':'Video Storage Size is not a valid size'}"/>

      <small class="form-text text-muted">you can enter upto 50<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="storagecapacityForm.controls.videoStorageSize?.errors">{{storagecapacityForm.controls.videoStorageSize?.errors.fileSize.message}}<br/></small>	
    </div>
    <button [disabled]="!storagecapacityForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
