<div>
<form  [formGroup]="employeeInfoFormGroup">
<div class="form-group">
    <label>Employee Age</label>
    <input type="text" formControlName="age" class="form-control"  />
    <small class="form-text text-muted">Age Should be between 18 to 60.<br/></small>
    <small class="form-text text-muted">If you want to apply conditional validation on 'Project Duration' or 'Employee Experience', then you need to add 'Employee Age' input greater than 25<br/></small>
    <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.age.errors">{{employeeInfoFormGroup.controls.age.errors.range.message}}<br/></small>
</div>
<div class="form-group">
    <label>Project Duration</label>
    <input type="text" formControlName="projectDuration" class="form-control"  />
    <small class="form-text text-muted">If Your age is above 25 your Project Duration should be between 6 to 8 months.<br/></small>
    <small class="form-text text-muted">Conditional validation will be applied if the 'Age' will be greater than 25.<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
    <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.projectDuration.errors">{{employeeInfoFormGroup.controls.projectDuration.errors.range.message}}<br/></small>
</div>
<div class="form-group">
    <label>Employee Experience</label>
    <input type="text" formControlName="experience" class="form-control"  />
    <small class="form-text text-muted">If Your age is above 25 your minimum experience should be between 2 to 20.<br/></small>
    <small class="form-text text-muted">Conditional validation will be applied if the 'Age' will be greater than 25.<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
    <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.experience.errors">{{employeeInfoFormGroup.controls.experience.errors.range.message}}<br/></small>
</div>
<div class="form-group">
    <label>Salary</label>
    <input type="text" formControlName="salary" class="form-control"  />
    <small class="form-text text-muted">Shows Custom Validation Message<br/></small>
    <small class="form-text text-muted">Please enter salary between 1000 to 200000<br/></small>
    <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.salary.errors">{{employeeInfoFormGroup.controls.salary.errors.range.message}}<br/></small>
</div>
<button [disabled]="!employeeInfoFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>