<div>
  <form #locationForm = "ngForm">
    <div class="form-group">
      <label>Colony Name</label>
      <input type="text" name="colonyName" [(ngModel)]="location.colonyName"  class="form-control"  [upperCase]="{'message':'You can enter only upperCase letters.'}" />
	   <small class="form-text text-danger" *ngIf="locationForm.controls.colonyName?.errors">{{locationForm.controls.colonyName?.errors.upperCase.message}}<br/></small>	
    </div>
    <button [disabled]="!locationForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
