
<div class="sidebar-container">
 
  <ul class="sidebar-navigation">
   
    <li>
      <a routerLink="/dashboard">
        <i class="fa fa-home" aria-hidden="true"></i> Dashboard
      </a>
    </li>
    <li>
      <a routerLink="/user">
        <i class="fa fa-tachometer" aria-hidden="true"></i> Users
      </a>
    </li>
   
  </ul>
</div>

<!-- <nav class="col-md-2 d-md-block bg-light sidebar" >
  
      <ul class="nav flex-column">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="dashboard">
            <span class="glyphicon glyphicon-dashboard"></span>
            {{sidebar.dashboard1}} <span class="sr-only"></span>
           
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="dashboard">
            <span class="glyphicon glyphicon-dashboard"></span>
            Dashboard <span class="sr-only"></span>
           
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="user">
            <span class="glyphicon glyphicon-dashboard"></span>
            Users <span class="sr-only"></span>
           
          </a>
        </li>
      </ul>
 

     
  
  </nav> -->