<div>
    <form [formGroup]="editForm">
    <div class="form-group">
        <label>Id</label>
        <input type="text" formControlName="id" class="form-control"  />
    </div>
    <div class="form-group">
        <label>Name</label>
        <input type="text" formControlName="name" class="form-control"  />
    </div>
    <div class="form-group">
        <label>Designation</label>
        <input type="text" formControlName="designation" class="form-control"  />
    </div>
    <button [disabled]="!(editForm['isDirty']())" class="btn btn-primary">Is Form Dirty</button>
    </form> 
</div>