<div>
    <form [formGroup]="employeeFormGroup">

        <div class="form-group">
            <h4>Full Name</h4>
            <input type="text" formControlName="fullName" class="form-control" />
        </div>

        <div class="form-group">
            <h4>Skills</h4>
            <button class="btn btn-primary" (click)="addSkill()">Add Skill</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Skill Name</th>
                </tr>
            </thead>
            <tbody>
                <tr [formGroup]="item" *ngFor="let item of employeeFormGroup['controls']['skills']['controls']; let i = index;">
                    <th scope="row">{{ i+1}}</th>
                    <td><input type="text" formControlName="skillName" class="form-control" />
                        <small class="form-text text-danger" *ngIf="item['controls']['skillName']['errors']">{{item['controls']['skillName']['errors']['unique']['message']}}<br/></small>
                    </td>
                </tr>
            </tbody>
        </table>

                <div class="form-group">
                        <h4>Hobbies</h4>
                        <button class="btn btn-primary" (click)="addHobby()">Add Hobby</button>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Hobby</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr [formGroup]="item" *ngFor="let item of employeeFormGroup['controls']['hobbies']['controls']; let i = index;">
                                <th scope="row">{{ i+1}}</th>
                                <td><input type="text" formControlName="hobbyName" class="form-control" />
                                    <small class="form-text text-danger" *ngIf="item['controls']['hobbyName']['errors']">{{item['controls']['hobbyName']['errors']['unique']['message']}}<br/></small>
                                    </td>
                            </tr>
                        </tbody>
                    </table>
        <button [disabled]="!employeeFormGroup.valid" class="btn btn-primary">Submit</button>
    </form>
</div>