<div>
<form  [formGroup]="userFormGroup">
<div class="form-group">
    <label>Card Type</label>
		<select formControlName="cardType" class="form-control">
      <option [value]="item" *ngFor="let item of creditCardTypes">{{item}}</option>
    </select>
	    <small class="form-text text-muted">Based on selection of card type conditional validation is applied<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.cardType.errors">{{userFormGroup.controls.cardType.errors.creditCard.message}}<br/></small>
</div>
<div class="form-group">
    <label>Credit Card No.</label>
		<input type="text" formControlName="creditCardNumber" class="form-control"  />
	    <small class="form-text text-muted">Enter {{cardType}} Card No<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.creditCardNumber.errors">{{userFormGroup.controls.creditCardNumber.errors.creditCard.message}}<br/></small>
</div>
<button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>