<div *ngIf="showComponent">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" (click)="closeValidation()">&times;</button>
                <h4 class="modal-title">Validation</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4" [formGroup]="validator" *ngFor="let validator of dynamicFormBuilderFormGroup.controls['keyList']['controls'][index]['controls']['validators']['controls'];let i = index">
                        <div class="hpanel" [ngClass]="{'panel-collapse': validator.value.isHide}">
                            <div class="panel-heading hbuilt">
                                <div class="panel-tools">
                                    <div class="btn-group" id="status" data-toggle="buttons">
                                        <label class="btn btn-default btn-on-1 btn-sm" [class.active]="!validator.value.isHide" (click)="showHidePanel(i,false)">
                                            <input type="radio" value="1" name="hide" [attr.checked]="validator.value.isHide">ON</label>
                                        <label class="btn btn-default btn-off-1 btn-sm " [class.active]="validator.value.isHide" (click)="showHidePanel(i,true)">
                                            <input type="radio" value="0" name="hide" [attr.checked]="!validator.value.isHide">OFF</label>
                                    </div>
                                </div>
                                {{validator.value.validatorName}}
                            </div>
                            <div class="panel-body" [ngClass]="{'hideElement': validator.value.isHide,'showElement': !validator.value.isHide}">
                                <table class="table table m-t-lg">
                                    <tr [formGroup]="parameterForm" *ngFor="let parameterForm of validator['controls']['parameterItems']['controls'];let k=index;">
                                        <ng-container *ngIf="(parameterForm.value.parameterType == 'string' && parameterForm.value.keyLabel != 'conditionalExpression' && parameterForm.value.keyLabel != 'fieldName') || parameterForm.value.parameterType == 'number'">
                                            <td>{{parameterForm.value.keyLabel}}</td>
                                            <td><input type="text" class="form-control" formControlName="keyValue" /></td>
                                        </ng-container>
                                        <ng-container *ngIf="(parameterForm.value.parameterType == 'boolean')">
                                            <td colspan="2">
                                                <div class="checkbox">
                                                    <label><input type="checkbox" formControlName="keyValue">{{parameterForm.value.keyLabel}}</label>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="(parameterForm.value.keyLabel == 'fieldName')">
                                            <td>{{parameterForm.value.keyLabel}}</td>
                                            <td>
                                                <select name="otherProperty" class="form-control" formControlName="keyValue">
                                                    <option value="">Please Select</option>
                                                    <option *ngFor="let otherProperty of dynamicFormBuilderFormGroup.value.keyList[index].otherProperties"
                                                        [ngValue]="otherProperty.propertyName">
                                                        {{otherProperty.propertyName}}
                                                    </option>
                                                </select>
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="(parameterForm.value.parameterType == 'IpVersion')">
                                            <td>{{parameterForm.value.keyLabel}}</td>
                                            <td>
                                                <select name="ipVersion" class="form-control" formControlName="keyValue">
                                                    <option value="">Please Select</option>
                                                    <option *ngFor="let ipVersion of ipVersions;let x = index;" [value]="x + 1">{{ipVersion}}</option>
                                                </select>
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="(parameterForm.value.parameterType == 'NumericValueType')">
                                            <td>{{parameterForm.value.keyLabel}}</td>
                                            <td>
                                                <select name="numericValueType" class="form-control" formControlName="keyValue">
                                                    <option value="">Please Select</option>
                                                    <option *ngFor="let numericValueType of numericValueTypes;let x = index;"
                                                        [value]="x + 1">{{numericValueType}}</option>
                                                </select>
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="(parameterForm.value.parameterType == 'any[]' || parameterForm.value.parameterType == 'string[]')">
                                            <td>{{parameterForm.value.keyLabel}}</td>
                                            <td>
                                                <rx-tag freeTextEnabled="true" formControlName="keyValue" mainClass="form-control"></rx-tag>
                                            </td>
                                        </ng-container>
                                        <ng-container *ngIf="(parameterForm.value.keyLabel == 'conditionalExpression')">
                                            <td colspan="2">
                                                <table class="table table-bordered">
                                                    <tr>
                                                        <th colspan="4">{{parameterForm.value.keyLabel}}<button class="btn btn-circle btn-success pull-right"
                                                                (click)="addConditionalExpression(index,i,k)"><i class="glyphicon glyphicon-plus"></i></button></th>
                                                    </tr>
                                                    <tr>
                                                        <th>Field Name</th>
                                                        <th>Operator</th>
                                                        <th>Field Value</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    <tr [formGroup]="conditional" *ngFor="let conditional of parameterForm['controls']['conditionalExpressionModels']['controls'];let o=index;">

                                                        <td>
                                                            <select name="otherProperty" class="form-control"
                                                                formControlName="fieldName">
                                                                <option value="">Please Select</option>
                                                                <option *ngFor="let otherProperty of dynamicFormBuilderFormGroup.value.keyList[index].otherProperties"
                                                                    [ngValue]="otherProperty.propertyName">
                                                                    {{otherProperty.propertyName}}
                                                                </option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select name="operator" class="form-control"
                                                                formControlName="operator">
                                                                <option value="">Please Select</option>
                                                                <option *ngFor="let operator of operators" [value]="operator">{{operator}}</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" formControlName="fieldValue" />
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-circle btn-danger" (click)="removeConditionalExpression(index,i,k,o)"><i
                                                                    class="glyphicon glyphicon-minus"></i></button>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </ng-container>
                                        <!-- <ng-container *ngIf="(parameterForm.value.parameterType == 'PasswordValidation')">
                                                <td colspan="4">
                                                    <table class="table table-bordered">
                                                        <ng-container *ngIf="parameterForm.value.parameterType == 'PasswordValidation' && parameterForm['controls']['subParamerterItems']">
                                                            <tr><th colspan="2" class="center-align">{{parameterForm.value.keyLabel}}</th></tr>
                                                            <tr [formGroup]="subParameter" *ngFor="let subParameter of parameterForm['controls']['subParamerterItems']['controls'];let o=index;">
                                                                <ng-container *ngIf="(subParameter.value.parameterType == 'string' || subParameter.value.parameterType == 'number')">
                                                                    <td>{{subParameter.value.keyLabel}}</td>
                                                                    <td><input type="text" class="form-control" formControlName="keyValue" /></td>
                                                                </ng-container>
                                                                <ng-container *ngIf="subParameter.value.parameterType == 'boolean'">
                                                                    <td colspan="2">
                                                                        <div class="checkbox">
                                                                            <label><input type="checkbox" value="" formControlName="keyValue">{{subParameter.value.keyLabel}}</label>
                                                                        </div>
                                                                    </td>
                                                                </ng-container>
                                                            </tr>
                                                        </ng-container>
                                                    </table>
                                                </td>
                                            </ng-container> -->
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal" (click)="submitValidation()">Submit</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="closeValidation()">Close</button>
            </div>
        </div>
    </div>
</div>