<div>
  <form  [formGroup]="contactFormGroup">
    <div class="form-group">
      <label>Country Name</label>
      <input type="text" formControlName="countryName" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Country Code' or 'State Code', then you need to add 'Country Name' input as 'India'<br/></small>
	 <small class="form-text text-danger" *ngIf="contactFormGroup.controls.countryName.errors">{{contactFormGroup.controls.countryName.errors.minLength.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Mobile No.</label>
      <input type="text" formControlName="mobileNo" class="form-control"  />
      <small class="form-text text-muted">Minimum length upto 10 characters.<br/></small>
      <small class="form-text text-muted">Shows message from ReactiveFormConfig.<br/></small>
	 <small class="form-text text-danger" *ngIf="contactFormGroup.controls.mobileNo.errors">{{contactFormGroup.controls.mobileNo.errors.minLength.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Land line No</label>
      <input type="text" formControlName="landLineNo" class="form-control"  />
      <small class="form-text text-muted">Minimum length upto 8 characters.<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	 <small class="form-text text-danger" *ngIf="contactFormGroup.controls.landLineNo.errors">{{contactFormGroup.controls.landLineNo.errors.minLength.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Country Code</label>
      <input type="text" formControlName="countryCode" class="form-control"  />
      <small class="form-text text-muted">To apply validation here, write 'India' in 'Country Name' textbox because it is conditional expression.<br/></small>
      <small class="form-text text-muted">Minimum length upto 3 characters.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
	 <small class="form-text text-danger" *ngIf="contactFormGroup.controls.countryCode.errors">{{contactFormGroup.controls.countryCode.errors.minLength.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Code</label>
      <input type="text" formControlName="stateCode" class="form-control"  />
      <small class="form-text text-muted">To apply validation here, write 'India' in 'Country Name' textbox because it is conditional expression.<br/></small>
      <small class="form-text text-muted">Minimum length upto 3 characters.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	 <small class="form-text text-danger" *ngIf="contactFormGroup.controls.stateCode.errors">{{contactFormGroup.controls.stateCode.errors.minLength.message}}<br/></small>	
    </div>
    <button [disabled]="!contactFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
