<div id="wrapper" *ngIf="showComponent">
    <div class="content">
        <div class="title" id="getting-started">
            <h1>Getting Started</h1>
            <p>The most powerful validation framework for angular based enterprise application. This provides all type of complex
                validation including dynamic validation likewise <span class="highlighted"> Reactive Form Validation</span>,
                <span class="highlighted">Template Driven Form Validation</span> and <span class="highlighted">Model Based Form Validation</span>.</p>
            <hr>
            <p>Angular forms provides good feature, but at some level code become messy to fulfil the complex scenarios, so
                the core objective is to provide optimum solution for basic, complex and dynamic validation for angular based
                enterprise applications. This validation framework is an extension of angular forms library, which will help
                to fulfil the need by following angular standard practices with less lines of code. </p>
        </div>
        <div class="bg-white border-radius">
            <div class="row">
                <div class="col-lg-12">
                    <div class="hpanel">
                        <div class="panel-body validation-tab">
                            <div class='row page-section' id="quick-start">
                                <div class='col-lg-12'>
                                    <h2>Quick Start<a title="Link to this heading" class="link-header" routerLink="/getting-started" fragment="quick-start"><i class="fa fa-link"></i></a></h2>
                                    <p>To start using rxweb reactive form validation framework, you need to install the package
                                        from npm/yarn.</p>
                                </div>
                            </div>
                            <div class='row page-section' id="installation">
                                <div class='col-lg-12'>
                                    <h4>Installation<a title="Link to this heading" class="link-header" routerLink="/getting-started" fragment="installation"><i class="fa fa-link"></i></a></h4>
                                    <p>You use the <span class="highlighted">@rxweb/reactive-form-validators</span>for performing
                                        variety of validations such as alpha, alphaNumerics, email, minDate, maxDate etc.</p>
                                    <p>Install the <span class="highlighted">@rxweb/reactive-form-validators</span> using below
                                        commands
                                    </p>
                                    <hr>
                                    <h5>npm</h5>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.npm" (cbOnSuccess)="npmCopied = true" [class.copied]="npmCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.npm"></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                    <h5>yarn</h5>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.yarn" (cbOnSuccess)="yarnCopied = true" [class.copied]="yarnCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.yarn"></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row page-section' id="import-modules">
                                <div class='col-lg-12'>
                                    <h4>Import Modules<a title="Link to this heading" class="link-header" routerLink="/getting-started" fragment="import-modules"><i class="fa fa-link"></i></a></h4>
                                    <p>To work on reactive form it is require to import angular modules (FormsModule & ReactiveFormsModule)
                                        and for rxweb reactive form validation to import <span class="highlighted">RxReactiveFormsModule</span>                                        module and register that in the NgModule decorator imports property.</p>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.importModules" (cbOnSuccess)="importModuleContentCopied = true"
                                                [class.copied]="importModuleContentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.importModules"></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row page-section' id="global-validation-messages">
                                <div class='col-lg-12'>
                                    <h4>Global Validation Messages<a title="Link to this heading" class="link-header" routerLink="/getting-started" fragment="global-validation-messages"><i class="fa fa-link"></i></a></h4>
                                    <p>Apply global validation messages throughout the application, then configure the validation
                                        messages globaly(whenever application starts it will initialized automatically).
                                    </p>
                                    <p>Below is the example to configure the validation messages in <span class="highlighted">ReactiveFromConfig</span>.</p>
                                    <div class="model-ts">
                                        <div class="code">
                                            <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.globalValidationMessages" (cbOnSuccess)="globalValidationMessageContentCopied = true"
                                                [class.copied]="globalValidationMessageContentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                            <div highlight="pre code">
                                                <pre><code [textContent]="codeContent.globalValidationMessages"></code></pre>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row page-section" id="examples" key="dynamic">
                                <div class='col-lg-12'>
                                    <h2>Examples<a title="Link to this heading" class="link-header" routerLink="/getting-started" fragment="examples"><i class="fa fa-link"></i></a></h2>
                                    <div class="row">
                                        <div class='col-lg-12'>
                                            <h4>Reactive Form Based Validation</h4>
                                            <p>Quick, to give you highlevel understanding about how rxweb validation apply on
                                                reactive forms.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-lg-12'>
                                            <h4>Template Form Based Validation</h4>
                                            <p>Quick, to give you highlevel understanding about how rxweb validation apply on
                                                template driven forms.</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class='col-lg-12'>
                                            <h4>Model Based Form Validation</h4>
                                            <p>This is the new way to validate the form based on your configured validation
                                                on model properties. To give you quick highlight about how validation will
                                                work based on configured validation on model properties. You can use model
                                                based validation on reactive form and template driven form.</p>
                                        </div>
                                    </div>
                                    <p>For basic example, I am covering only required validation with respective form based
                                        validation approaches.</p>
                                    <ul class="nav nav-tabs">
                                        <li [class.active]="mainTab=='reactive-form-based-validation'" (click)="mainTab='reactive-form-based-validation'"><a>Reactive Form Based Validation</a></li>
                                        <li [class.active]="mainTab=='template-form-based-validation'" (click)="mainTab='template-form-based-validation'"><a>Template Form Based Validation</a></li>
                                        <li [class.active]="mainTab=='model-based-form-validation'" (click)="mainTab='model-based-form-validation'"><a>Model Based Form Validation</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane" [class.active]="mainTab=='reactive-form-based-validation'">
                                            <ul class="nav nav-tabs">
                                                <li [class.active]="reactiveFormBasedValidation=='Example'" (click)="reactiveFormBasedValidation='Example'"><a>Example</a></li>
                                                <li [class.active]="reactiveFormBasedValidation=='Component'" (click)="reactiveFormBasedValidation='Component'"><a>Component</a></li>
                                                <li [class.active]="reactiveFormBasedValidation=='Html'" (click)="reactiveFormBasedValidation='Html'"><a>Html</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane" [class.active]="reactiveFormBasedValidation=='Example'">
                                                    <app-reactive-form-based-validation></app-reactive-form-based-validation>
                                                </div>
                                                <div class="tab-pane" [class.active]="reactiveFormBasedValidation=='Component'">
                                                    <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.reactiveFormBasedValidation.Component" (cbOnSuccess)="codeContent.reactiveFormBasedValidation.ComponentCopied = true"
                                                        [class.copied]="codeContent.reactiveFormBasedValidation.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                    <div highlight="pre code">
                                                        <pre><code [textContent]="codeContent.reactiveFormBasedValidation.Component"></code></pre>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" [class.active]="reactiveFormBasedValidation=='Html'">
                                                    <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.reactiveFormBasedValidation.Html" (cbOnSuccess)="codeContent.reactiveFormBasedValidation.HtmlCopied = true"
                                                        [class.copied]="codeContent.reactiveFormBasedValidation.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                    <div highlight="pre code">
                                                        <pre><code [textContent]="codeContent.reactiveFormBasedValidation.Html"></code></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" [class.active]="mainTab=='template-form-based-validation'">
                                            <ul class="nav nav-tabs">
                                                <li [class.active]="templateFormBasedValidation=='Example'" (click)="templateFormBasedValidation='Example'"><a>Example</a></li>
                                                <li [class.active]="templateFormBasedValidation=='Component'" (click)="templateFormBasedValidation='Component'"><a>Component</a></li>
                                                <li [class.active]="templateFormBasedValidation=='Model'" (click)="templateFormBasedValidation='Model'"><a>Model</a></li>
                                                <li [class.active]="templateFormBasedValidation=='Html'" (click)="templateFormBasedValidation='Html'"><a>Html</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane" [class.active]="templateFormBasedValidation=='Example'">
                                                    <app-template-form-based-validation></app-template-form-based-validation>
                                                </div>
                                                <div class="tab-pane" [class.active]="templateFormBasedValidation=='Component'">
                                                    <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.templateFormBasedValidation.Component" (cbOnSuccess)="codeContent.templateFormBasedValidation.ComponentCopied = true"
                                                        [class.copied]="codeContent.templateFormBasedValidation.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                    <div highlight="pre code">
                                                        <pre><code [textContent]="codeContent.templateFormBasedValidation.Component"></code></pre>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" [class.active]="templateFormBasedValidation=='Model'">
                                                    <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.templateFormBasedValidation.Model" (cbOnSuccess)="codeContent.templateFormBasedValidation.ModelCopied = true"
                                                        [class.copied]="codeContent.templateFormBasedValidation.ModelCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                    <div highlight="pre code">
                                                        <pre><code [textContent]="codeContent.templateFormBasedValidation.Model"></code></pre>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" [class.active]="templateFormBasedValidation=='Html'">
                                                    <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.templateFormBasedValidation.Html" (cbOnSuccess)="codeContent.templateFormBasedValidation.HtmlCopied = true"
                                                        [class.copied]="codeContent.templateFormBasedValidation.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                    <div highlight="pre code">
                                                        <pre><code [textContent]="codeContent.templateFormBasedValidation.Html"></code></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" [class.active]="mainTab=='model-based-form-validation'">
                                            <ul class="nav nav-tabs">
                                                <li [class.active]="modelBasedFormValidation=='Example'" (click)="modelBasedFormValidation='Example'"><a>Example</a></li>
                                                <li [class.active]="modelBasedFormValidation=='Component'" (click)="modelBasedFormValidation='Component'"><a>Component</a></li>
                                                <li [class.active]="modelBasedFormValidation=='Model'" (click)="modelBasedFormValidation='Model'"><a>Model</a></li>
                                                <li [class.active]="modelBasedFormValidation=='Html'" (click)="modelBasedFormValidation='Html'"><a>Html</a></li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane" [class.active]="modelBasedFormValidation=='Example'">
                                                    <app-model-based-form-validation></app-model-based-form-validation>
                                                </div>
                                                <div class="tab-pane" [class.active]="modelBasedFormValidation=='Component'">
                                                    <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.modelBasedFormValidation.Component" (cbOnSuccess)="codeContent.modelBasedFormValidation.ComponentCopied = true"
                                                        [class.copied]="codeContent.modelBasedFormValidation.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                    <div highlight="pre code">
                                                        <pre><code [textContent]="codeContent.modelBasedFormValidation.Component"></code></pre>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" [class.active]="modelBasedFormValidation=='Model'">
                                                    <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.modelBasedFormValidation.Model" (cbOnSuccess)="codeContent.modelBasedFormValidation.ModelCopied = true"
                                                        [class.copied]="codeContent.modelBasedFormValidation.ModelCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                    <div highlight="pre code">
                                                        <pre><code [textContent]="codeContent.modelBasedFormValidation.Model"></code></pre>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" [class.active]="modelBasedFormValidation=='Html'">
                                                    <a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.modelBasedFormValidation.Html" (cbOnSuccess)="codeContent.modelBasedFormValidation.HtmlCopied = true"
                                                        [class.copied]="codeContent.modelBasedFormValidation.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
                                                    <div highlight="pre code">
                                                        <pre><code [textContent]="codeContent.modelBasedFormValidation.Html"></code></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='row page-section' id="goal">
                                <div class='col-lg-12'>
                                    <h2>Goal<a title="Link to this heading" class="link-header" routerLink="/getting-started" fragment="goal"><i class="fa fa-link"></i></a></h2>
                                    <p>Provides all type of clientside validations.</p>
                                    <p>Easy way to create Angular Reactive Form Group & Template Driven Form Validation with
                                        less lines of code.</p>
                                    <p>Easy to create Dynamic Reactive Form / Template Driven Form.</p>
                                </div>
                            </div>
                            <app-contribution></app-contribution>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-right-sidebar [sidebarLinks]="rightSidebarLinks"></app-right-sidebar>
</div>