<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Audio File</label>
	    <input type="file" name="audioFile"  [(ngModel)]="userinfo.audioFile"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.audioFile?.errors">{{userinfoForm.controls?.audioFile?.errors?.fileSize.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
