<div>
  <form  [formGroup]="employeeInfoFormGroup">
    <div class="form-group">
      <label>Employee Age</label>
      <input type="text" formControlName="age" class="form-control"  />
      <small class="form-text text-muted">Please enter Employee Age between 18 to 60<br/></small>
      <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.age.errors">{{employeeInfoFormGroup.controls.age.errors.range.message}}<br/></small>
    </div>
    <button [disabled]="!employeeInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
