<div>
    <form [formGroup]="employeeInfoFormGroup">
        <div class="form-group">
            <label>Department</label>
            <input class="form-control" formControlName="department" />
            <small class="form-text text-muted">You can enter departments which are mentioned in the Excluded Department</small>
        </div>
        <button [disabled]="!employeeInfoFormGroup.valid" class="btn btn-primary">Submit</button>
        <br>
        <br>
        <div class="form-group">
        <label>Excluded Department</label><br>
        <ul>
            <li *ngFor="let text of excludedDepartments">
                {{text}}
            </li>
        </ul>
    </div>
</form>
</div>