<div>
  <form #userinfoForm = "ngForm">
    <div class="form-group">
      <label>Data Type</label>
      <select name="dataType" [(ngModel)]="userinfo.dataType"  class="form-control" >
		<option [value]="item" *ngFor="let item of dataTypes">{{item}}</option>
      </select>

	   <small class="form-text text-danger" *ngIf="userinfoForm.controls.dataType?.errors">{{userinfoForm.controls.dataType?.errors.numeric.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Real Number</label>
      <input type="text" name="realNumber" [(ngModel)]="userinfo.realNumber"  class="form-control"  [numeric]="{'acceptValue':3,'conditionalExpression':'x => x.dataType == \'Real\''}" />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Real Number' then you need to add 'Data Type' input as 'Real'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls.realNumber?.errors">{{userinfoForm.controls.realNumber?.errors.numeric.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
