<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>HTML Data Uri</label>
      <input type="text" name="htmlDataUri" [(ngModel)]="user.htmlDataUri"  class="form-control"  dataUri />
      <small class="form-text text-muted">You must enter a data URI<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.htmlDataUri?.errors">{{userForm.controls.htmlDataUri?.errors.dataUri.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
