<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>First Number</label>
      <input type="text" formControlName="firstNumber" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Second Number' or 'Third Number', then you need to add 'First Number' input as '25'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.firstNumber.errors">{{userFormGroup.controls.firstNumber.errors.factor?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Fifth Number</label>
      <input type="text" formControlName="fifthNumber" class="form-control"  />
      <small class="form-text text-muted">To apply the validation of factor on 'Fifth Number' field<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.fifthNumber.errors">{{userFormGroup.controls.fifthNumber.errors.factor?.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
