<div>
  <form #attandancedetailForm = "ngForm">
    <div class="form-group">
      <label>Exit Time</label>
	    <input type="text" name="exitTime" [(ngModel)]="attandancedetail.exitTime"  class="form-control" />

      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls.exitTime?.errors">{{attandancedetailForm.controls.exitTime?.errors.time.message}}<br/></small>	
    </div>
    <button [disabled]="!attandancedetailForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
