<div>
    <form [formGroup]="employeeFormGroup">

        <h3>Hobby Name</h3>
        <button class="btn btn-primary" (click)="addHobby()">Add Hobby</button>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hobby Name</th>
                </tr>
            </thead>
            <tbody>
                <tr [formGroup]="hobbyGroup" *ngFor="let hobbyGroup of employeeFormGroup.controls.hobbies.controls;let i = index;">
                    <th scope="row">{{i+ 1}}</th>
                    <td><input type="text" formControlName="hobbyName" class="form-control" /><small class="form-text text-danger" *ngIf="hobbyGroup.controls.hobbyName.errors">{{hobbyGroup.controls.hobbyName.errors.unique.message}}<br/></small>	</td>
                </tr>
            </tbody>
        </table>
        <button [disabled]="!employeeFormGroup.valid" class="btn btn-primary">Submit</button>
    </form>
</div>