<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Browser</label>
      <input type="text" name="browser" [(ngModel)]="user.browser"  class="form-control"  port />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Entertainment Website Port' or 'Shopping Website Port', then you need to add 'Browser' input as 'Chrome'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.browser?.errors">{{userForm.controls.browser?.errors.port.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Shopping Website Port</label>
      <input type="text" name="shoppingWebsitePort" [(ngModel)]="user.shoppingWebsitePort"  class="form-control"  [port]="{'conditionalExpression':'x => x.browser ==\'Chrome\''}" />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Shopping Website Port' then you need to add 'Browser' input as 'Chrome'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.shoppingWebsitePort?.errors">{{userForm.controls.shoppingWebsitePort?.errors.port.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Educational Website Port</label>
      <input type="text" name="educationalWebsitePort" [(ngModel)]="user.educationalWebsitePort"  class="form-control"  [port]="{'message':'Educational Website Port is not a proper port number'}" />
      <small class="form-text text-muted">enter port number only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.educationalWebsitePort?.errors">{{userForm.controls.educationalWebsitePort?.errors.port.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
