<div>
  <form #countryForm = "ngForm" [rxwebForm]="countryForm">
    <div class="form-group">
      <label>Country Name</label>
	    <input type="text" name="countryName" [(ngModel)]="country.countryName"  class="form-control" alpha/>

	   <small class="form-text text-danger" *ngIf="countryForm.controls?.countryName?.errors">{{countryForm.controls?.countryName?.errors?.alpha.message}}<br/></small>	
    </div>
    <button [disabled]="!countryForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
