<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm" [model]="userinfo">
    <div class="form-group">
      <label>Username</label>
	    <input type="text" name="username" [(ngModel)]="userinfo.username"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.username?.errors">{{userinfoForm.controls?.username?.errors?.lowerCase.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
