<form [formGroup]="user.formGroup">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" formControlName="firstName"/>
    <small class="form-text text-danger">{{user.formGroup.controls.firstName.errorMessage}}</small>
  </div>
  <div class="form-group">
    <label>DOB</label>
    <input type="date" class="form-control" formControlName="dob">
    <small class="form-text text-muted">Converted String to Date Format - {{user.dob}}</small>
    
  </div>
  <div class="form-group" [formGroup]="user.address.formGroup">
    <label>Country Name(Nested FormGroup Control)</label>
    <input type="text" class="form-control" formControlName="countryName">
  </div>

  <h4>Nested FormArray - Skills</h4>
  <div class="btn-group">
    <button type="button" (click)="addSkill()" class="btn btn-secondary">Add</button>
    <button type="button" (click)="removeSkill(user.skills.length - 1)" class="btn btn-secondary">Remove</button>
  </div>
  <div *ngFor="let skill of user.skills">
    <div class="form-group" [formGroup]="skill.formGroup">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name">
    </div>
  </div>
  <button [disabled]="!user.formGroup.valid" (click)="submit()" class="btn btn-primary">Submit</button>
</form>
