<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Name</label>
      <input type="text" formControlName="name" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Birth Year' or 'Admission Date', then you need to add 'Name' input as 'Bharat'<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.name.errors">{{userFormGroup.controls.name.errors.leapYear.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Admission Year</label>
      <input type="text" formControlName="admissionYear" class="form-control"  />
      <small class="form-text text-muted">To apply the validation of leap on 'Admission Year' field, then enter the value 'Bharat' in 'Name' textbox<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.admissionYear.errors">{{userFormGroup.controls.admissionYear.errors.leapYear.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Joining Year</label>
      <input type="text" formControlName="joiningYear" class="form-control"  />
      <small class="form-text text-muted">you can enter only a leap year<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.joiningYear.errors">{{userFormGroup.controls.joiningYear.errors.leapYear.message}}<br/></small>
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
