<div>
  <form #resultinfoForm = "ngForm" [rxwebForm]="resultinfoForm">
    <div class="form-group">
      <label>Maths</label>
	    <input type="text" name="maths" [(ngModel)]="resultinfo.maths"  class="form-control" [minNumber]="{'value':35}"/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'English' or 'Statstics', then you need to add 'Maths' input as '50'<br/></small>
	   <small class="form-text text-danger" *ngIf="resultinfoForm.controls?.maths?.errors">{{resultinfoForm.controls?.maths?.errors?.minNumber.message}}<br/></small>	
    </div>
    <button [disabled]="!resultinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
