<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Username</label>
      <input type="text" formControlName="username" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'First name' or 'Middle Name', then you need to add 'username' input as 'jonathan.feldman'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.username.errors">{{userFormGroup.controls.username.errors.lowerCase.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>First name</label>
      <input type="text" formControlName="firstName" class="form-control"  />
      <small class="form-text text-muted">To apply the validation of lowerCase on 'First Name' field, then enter the value of 'jonathan.feldman' in username textbox.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.firstName.errors">{{userFormGroup.controls.firstName.errors.lowerCase.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Middle name</label>
      <input type="text" formControlName="middleName" class="form-control"  />
      <small class="form-text text-muted">To apply the validation of lowerCase on 'Middle Name' field, then enter the value of 'jonathan.feldman' in username textbox.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.middleName.errors">{{userFormGroup.controls.middleName.errors.lowerCase.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="text" formControlName="lastName" class="form-control"  />
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.lastName.errors">{{userFormGroup.controls.lastName.errors.lowerCase.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
