<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>Last name</label>
	    <input type="text" name="lastName" [(ngModel)]="user.lastName"  class="form-control" [lowerCase]="{'message':'You can enter only lowerCase letters.'}"/>

	   <small class="form-text text-danger" *ngIf="userForm.controls?.lastName?.errors">{{userForm.controls?.lastName?.errors?.lowerCase.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
