<div>
  <form  *ngIf="accountInfoFormGroup"  [formGroup]="accountInfoFormGroup">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName" class="form-control"  />
      <small class="form-text text-danger" *ngIf="accountInfoFormGroup.controls.firstName.errors">{{accountInfoFormGroup.controls.firstName.errors.different.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" class="form-control"  />
      <small class="form-text text-muted">Both field must be different<br/></small>
      <small class="form-text text-danger" *ngIf="accountInfoFormGroup.controls.lastName.errors">{{accountInfoFormGroup.controls.lastName.errors.different.message}}<br/></small>
    </div>
    <button [disabled]="!accountInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
