<div class="container">
  <h1 class="display-4">Validation Message Examples</h1>
  <table class="table" width="100%">
    <thead>
      <tr>
        <th width="50%">Category</th>
        <th width="50%">Output</th>
      </tr>
    </thead>
    <tr>
      <td class="category">Simple Validation Message</td>
      <td>
        <form [formGroup]="formGroup">
          <input type="text" formControlName="fullName" class="form-control" />
          <span class="margin-left small red" *ngIf="formGroup.controls.fullName.errors">{{formGroup.controls.fullName.errors.required.message}}</span>
        </form>
      </td>
    </tr>

    <tr>
      <td class="category">Validation Message with parameter interpolation</td>
      <td>
        <form [formGroup]="formGroup">
          <input type="text" formControlName="designation" class="form-control" />
          <span class="margin-left small red" *ngIf="formGroup.controls.designation.errors">{{formGroup.controls.designation.errors.maxlength.message}}</span>
        </form>
      </td>
    </tr>


    <tr>
      <td class="category">Validation Message with array parameter interpolation</td>
      <td>
        <form [formGroup]="formGroup">
          <input type="text" formControlName="userName" class="form-control" />
          <span class="margin-left small red" *ngIf="formGroup.controls.userName.errors">{{formGroup.controls.userName.errors.identityRevealed.message}}</span>
        </form>
      </td>
    </tr>


  </table>
</div>
