<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Odd Number</label>
	    <input type="text" name="oddNumber" [(ngModel)]="user.oddNumber"  class="form-control" />

      <small class="form-text text-muted">you can enter only an odd number<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.oddNumber?.errors">{{userForm.controls.oddNumber?.errors.odd.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
