<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Total Marks</label>
      <input type="text" name="totalMarks" [(ngModel)]="user.totalMarks"  class="form-control"  lessThanEqualTo />
      <small class="form-text text-muted">If you want to apply conditional validation of less than equal to validation on obtained marks or practical exam marks then Total Marks must be 100.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.totalMarks?.errors">{{userForm.controls.totalMarks?.errors.lessThanEqualTo.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Other Marks</label>
      <input type="text" name="otherMarks" [(ngModel)]="user.otherMarks"  class="form-control"  [lessThanEqualTo]="{'fieldName':'totalMarks','message':'Please enter number less than 100.'}" />
      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.otherMarks?.errors">{{userForm.controls.otherMarks?.errors.lessThanEqualTo.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
