<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Admin Website Url</label>
	    <input type="text" name="adminWebsiteUrl" [(ngModel)]="user.adminWebsiteUrl"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'QA Website Url' or 'Customer Website Url', then you need to add 'Admin Website Url' input as 'https://google.co.in'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.adminWebsiteUrl?.errors">{{userForm.controls?.adminWebsiteUrl?.errors?.url.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Customer Website Url</label>
	    <input type="text" name="customerWebsiteUrl" [(ngModel)]="user.customerWebsiteUrl"  class="form-control" />

      <small class="form-text text-muted">Enter 'https://google.co.in' in Admin Website Url textbox above for apply validation<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.customerWebsiteUrl?.errors">{{userForm.controls?.customerWebsiteUrl?.errors?.url.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Maintenance Website Url</label>
	    <input type="text" name="maintenanceWebSiteUrl" [(ngModel)]="user.maintenanceWebSiteUrl"  class="form-control" />

      <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.maintenanceWebSiteUrl?.errors">{{userForm.controls?.maintenanceWebSiteUrl?.errors?.url.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
