<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Video Data Uri</label>
	    <input type="text" name="videoDataUri" [(ngModel)]="user.videoDataUri"  class="form-control" />

      <small class="form-text text-muted">enter Data URI only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.videoDataUri?.errors">{{userForm.controls.videoDataUri?.errors.dataUri.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
