<div>
    <form [formGroup]="employeeFormGroup">
        <div class="form-group">
            <label>Skills</label>
            <button class="btn btn-primary" (click)="addSkill()">Add Skill</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Skill Name</th>
                </tr>
            </thead>
            <tbody>
                <tr [formGroup]="item" *ngFor="let item of employeeFormGroup.controls.skills.controls; let i = index;">
                    <th scope="row">{{ i+1}}</th>
                    <td><input type="text" formControlName="skillName" class="form-control" /></td>
                </tr>
            </tbody>
        </table>
        <button [disabled]="!employeeFormGroup.valid" class="btn btn-primary">Submit</button>
    </form>
</div>