<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>Obtained Marks</label>
	    <input type="text" name="obtainedMarks" [(ngModel)]="user.obtainedMarks"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Practical Exam Marks' or 'Passing Marks', then Obtained Marks must be less than '35'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.obtainedMarks?.errors">{{userForm.controls?.obtainedMarks?.errors?.lessThan.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Passing Marks</label>
	    <input type="text" name="passingMarks" [(ngModel)]="user.passingMarks"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Passing Marks' then you need to add 'Obtained Marks' field less than '35'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.passingMarks?.errors">{{userForm.controls?.passingMarks?.errors?.lessThan.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
