<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Name</label>
	    <input type="text" name="name" [(ngModel)]="user.name"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Birth Year' or 'Admission Date', then you need to add 'Name' input as 'Bharat'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.name?.errors">{{userForm.controls?.name?.errors?.leapYear.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Admission Year</label>
	    <input type="text" name="admissionYear" [(ngModel)]="user.admissionYear"  class="form-control" [leapYear]="{'conditionalExpression':'x => x.name == \'Bharat\''}"/>

      <small class="form-text text-muted">To apply the validation of leap on 'Admission Year' field, then enter the value 'Bharat' in 'Name' textbox<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.admissionYear?.errors">{{userForm.controls?.admissionYear?.errors?.leapYear.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
