<div>
  <rx-spinner></rx-spinner>
  <app-top-bar *ngIf="!isHome"></app-top-bar>
  <div *ngIf="!isHome">
    <app-side-bar></app-side-bar>
  </div>
  <router-outlet></router-outlet>
  <div *ngIf="showFooter">
    <app-footer></app-footer>
  </div>
<div class="search-btn" (click)="slidePanel()">
    <svg height="18" viewBox="0 0 40 40" width="18" class="search"><path fill="#ffffff" d="M26.804 29.01c-2.832 2.34-6.465 3.746-10.426 3.746C7.333 32.756 0 25.424 0 16.378 0 7.333 7.333 0 16.378 0c9.046 0 16.378 7.333 16.378 16.378 0 3.96-1.406 7.594-3.746 10.426l10.534 10.534c.607.607.61 1.59-.004 2.202-.61.61-1.597.61-2.202.004L26.804 29.01zm-10.426.627c7.323 0 13.26-5.936 13.26-13.26 0-7.32-5.937-13.257-13.26-13.257C9.056 3.12 3.12 9.056 3.12 16.378c0 7.323 5.936 13.26 13.258 13.26z"></path></svg>
</div>
<div class="slidePanel" id="slidePanelin">
    <button class="cross" (click)="slidepanelcross()" id="slidepanel">✕</button>
    <div class="search-content">
      <div class="container">
          <ais-instantsearch [config]="{
            apiKey: 'b7a4da24f8a9808c5230923c962ba440',
            appId: 'IWR8PSW8GA',
            indexName: 'rxwebio'
          }">
                <ais-search-box></ais-search-box>
              
                <ais-stats></ais-stats>                  
                <ais-hits>
                       
                  <ng-template let-hits="hits" let-results="results">                      
                     <ul class="list-unstyled search-list">
                    <li *ngFor="let hit of hits">
                     
                        <div class="search-title">    {{hit.title}}</div>
                      <a href="{{hit.link}}">See Also</a>
                      <div class="search-decr">  {{hit.description}}</div>
                      
                    </li>
                  </ul> 
                  </ng-template>
                </ais-hits>
              
              </ais-instantsearch>
      </div>
    </div>
  </div>
</div>