<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Fourth Number</label>
	    <input type="text" name="fourthNumber" [(ngModel)]="user.fourthNumber"  class="form-control" [factor]="{'dividend':50}"/>

      <small class="form-text text-muted">you can enter only factors of 50<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.fourthNumber?.errors">{{userForm.controls?.fourthNumber?.errors?.factor.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
