<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
     <httpProtocol>
      <customHeaders>
        <clear />
        <!--#if (Azure)-->
        <!-- Arr-Disable-Session-Affinity - Disable the Application Request Routing (AAR) IIS extension
                                            (See https://azure.microsoft.com/en-gb/blog/disabling-arrs-instance-affinity-in-windows-azure-web-sites/). -->
        <add name="Arr-Disable-Session-Affinity" value="true" />
        <!--#endif-->
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering  >
        <requestLimits maxAllowedContentLength="1048576" maxQueryString="2048" maxUrl="4096" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
</configuration>