<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Active</label>
      <input type="text" formControlName="active" class="form-control"  />
		Transformed Value :   {{userFormGroup["modelInstance"]["active"]}}
    </div>
    <div class="form-group">
      <label>Strict Active</label>
      <input type="text" formControlName="strictActive" class="form-control"  />
		Transformed Value :   {{userFormGroup["modelInstance"]["strictActive"]}}
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
