<div>
    <ul class="nav nav-tabs" *ngIf="tabArray.length > 1">
        <li *ngFor="let item of tabArray"  [class.active]="activeTab == item.tabName" (click)="activeTab = item.tabName"><a>{{item.tabName}}</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane" [class.active]="activeTab == item.tabName" *ngFor="let item of tabArray">
            <page-viewer [content]="item.content" [data]="content" [typeName]="typeName" *ngIf="item.content"></page-viewer>
        </div>
    </div>
</div>