<h3 class="bd-title" id="content">Show Error Message on Submit</h3>
<br/>

<form [formGroup]="userInfoFormGroup">
<div class="form-group">
    <label>First Name</label>
    <input type="text" formControlName="firstName" class="form-control"  />
  <small class="form-text text-danger" >{{userInfoFormGroup.controls.firstName["errorMessage"]}}</small>
</div>
<div class="form-group">
    <label>User Name</label>
    <input type="text" formControlName="userName" class="form-control"  />
  <small class="form-text text-danger" >{{userInfoFormGroup.controls.userName["errorMessage"]}}</small>
</div>
<button (click)="submit()" class="btn btn-primary">Submit</button>
</form>
