<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Allocation Date</label>
      <input type="text" name="allocationDate" [(ngModel)]="user.allocationDate"  class="form-control"  [minDate]="{'value': '2018,7,30'}" />
      <small class="form-text text-muted">you can enter MinDate upto 30th july 2018<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.allocationDate?.errors">{{userForm.controls.allocationDate?.errors.minDate.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
