<div>
<form *ngIf="accountInfoFormGroup" [formGroup]="accountInfoFormGroup">
<div class="form-group">
    <label>Password</label>
    <input type="text" formControlName="password" class="form-control"  />
    <small class="form-text text-muted">Password and firstName must be different<br/></small>
    <small class="form-text text-muted">Shows custom message.<br/></small>
    <small class="form-text text-danger" *ngIf="accountInfoFormGroup.controls.password.errors">{{accountInfoFormGroup.controls.password.errors.different.message}}<br/></small>
</div>
<button [disabled]="!accountInfoFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>