<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Scheme</label>
	    <input type="text" name="scheme" [(ngModel)]="user.scheme"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Image Data Uri' or 'Audio Data Uri', then you need to add 'Scheme' input as 'DataUri'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.scheme?.errors">{{userForm.controls.scheme?.errors.dataUri.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Audio Data Uri</label>
	    <input type="text" name="audioDataUri" [(ngModel)]="user.audioDataUri"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Audio Data Uri' then you need to add 'Scheme' input as 'DataUri'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.audioDataUri?.errors">{{userForm.controls.audioDataUri?.errors.dataUri.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Video Data Uri</label>
	    <input type="text" name="videoDataUri" [(ngModel)]="user.videoDataUri"  class="form-control" />

      <small class="form-text text-muted">enter Data URI only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.videoDataUri?.errors">{{userForm.controls.videoDataUri?.errors.dataUri.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
