<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>Card Type</label>
      <select name="cardType" [(ngModel)]="user.cardType"  class="form-control"  >
		<option [value]="item" *ngFor="let item of creditCardTypes">{{item}}</option>
      </select>

      <small class="form-text text-muted">Based on selection of card type conditional validation is applied<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.cardType?.errors">{{userForm.controls?.cardType?.errors?.creditCard.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Credit Card No.</label>
	    <input type="text" name="creditCardNumber" [(ngModel)]="user.creditCardNumber"  class="form-control" [creditCard]="{'fieldName':'cardType'}"/>

      <small class="form-text text-muted">Enter Selected Card's Card No<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.creditCardNumber?.errors">{{userForm.controls?.creditCardNumber?.errors?.creditCard.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
