<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>First Number</label>
	    <input type="text" name="firstNumber" [(ngModel)]="user.firstNumber"  class="form-control" />

      <small class="form-text text-muted">You can only enter factors of 50<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.firstNumber?.errors">{{userForm.controls.firstNumber?.errors.factor.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
