<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>Mobile Number</label>
	    <input type="text" name="mobileNumber" [(ngModel)]="user.mobileNumber"  class="form-control" />

      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.mobileNumber?.errors">{{userForm.controls?.mobileNumber?.errors?.digit.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
