<div>
  <form  *ngIf="userFormGroup"  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>User Name</label>
      <input type="text" formControlName="userName" class="form-control"  />
      <small class="form-text text-muted">It checked that username match alpha regex or not<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Contact Number' or 'Age', then you need to add 'userName' input as 'Bharat<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.userName.errors">{{userFormGroup.controls.userName.errors.pattern.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Zip Code</label>
      <input type="text" formControlName="zipCode" class="form-control"  />
      <small class="form-text text-muted">It checked that zipcode match zipcode regex or not <br/></small>
      <small class="form-text text-muted">Shows custom message<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.zipCode.errors">{{userFormGroup.controls.zipCode.errors.pattern.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Age</label>
      <input type="text" formControlName="age" class="form-control"  />
      <small class="form-text text-muted">It checked that age match with digit regex or not and it  applied when userName is Bharat<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.age.errors">{{userFormGroup.controls.age.errors.pattern.message}}<br/></small>
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
