<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm" [model]="user">
    <div class="form-group">
      <label>Confirmation Date</label>
	    <input type="text" name="confirmationDate" [(ngModel)]="user.confirmationDate"  class="form-control" [minDate]="{'fieldName':'enrollmentDate','operator':'>'}"/>

      <small class="form-text text-muted">you can enter MinDate upto value mentioned in fieldName<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.confirmationDate?.errors">{{userForm.controls?.confirmationDate?.errors?.minDate.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
