<div id="wrapper" *ngIf="showComponent">
	<div class="content">
		<div class="title">
	<span class="label validator-type">decorators</span>
	<h1> compare </h1>
	<p> Compare validation decorator will compare two inputs whether they are same or not.</p>
</div>
		<div class="bg-white py-3 border-radius">
			<div class="row">
				<div class="col-lg-12">
					<div class="hpanel">
						<div class="panel-body validation-tab">
							<div class='row' id= 'whentouse'>
<div class='col-lg-12'>
<h2>When to use</h2>

<p>Let's assume that you are creating a user form in which you want to compare passwords which are entered by the user which contains fields like Password and Confirm Password Here depending upon the requirement these scenarios may arise.</p>
<ol>
	<li>	The Name of Password field on which comparison is done.</li>
	<li>  The Custom Message on ConfirmPassword field.  </li>
	<li>	Apply dynamic validation, If the validation will be changed based on some criteria in the application.</li>
</ol>
<p>Let’s see how compare validator fulfil the need.</p>
</div>
</div>
<div class='row' id= 'basiccomparevalidation'>
<div class='col-lg-12'>
<h2>Basic Compare Validation</h2>

<p>First we need to create a User Model class and define property of Password and Confirm Password in the model to achieve the functional need of point 1.</p>
<div class="model-ts" *ngIf="tab_1=='basicadd'">
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.add.Model" (cbOnSuccess)="codeContent.add.ModelCopied = true" [class.copied]="codeContent.add.ModelCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.add.Model"></code></pre>
			</div>
	</div>
</div>


<div class="model-ts" *ngIf="tab_1=='basicedit'">
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.edit.Model" (cbOnSuccess)="codeContent.edit.ModelCopied = true" [class.copied]="codeContent.edit.ModelCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.edit.Model"></code></pre>
			</div>
	</div>
</div>


<p>Now, we need to create a FormGroup in the component. To achieve this we need to add RxFormBuilder. The RxFormBuilder is an injectable service that is provided with the RxReactiveFormsModule. Inject this dependency by adding it to the component constructor.</p>
<p>Here we have covered Add and Edit form operations. </p>
<ul class="nav nav-tabs" >
	<li [class.active]="tab_1=='basicadd'" (click)="tab_1='basicadd'"><a>Add</a></li>
	<li [class.active]="tab_1=='basicedit'" (click)="tab_1='basicedit'"><a>Edit</a></li>
</ul>
<div class="tab-content" >
			  <div class="tab-pane" [class.active]="tab_1=='basicadd'">
			<div class="model-ts" >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.add.Component" (cbOnSuccess)="codeContent.add.ComponentCopied = true" [class.copied]="codeContent.add.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.add.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_1=='basicedit'">
			<div class="model-ts" >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.edit.Component" (cbOnSuccess)="codeContent.edit.ComponentCopied = true" [class.copied]="codeContent.edit.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.edit.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
<p>Next, we need to write html code.</p>
<div class="model-ts" *ngIf="tab_1=='basicadd'">
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.add.Html" (cbOnSuccess)="codeContent.add.HtmlCopied = true" [class.copied]="codeContent.add.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.add.Html"></code></pre>
			</div>
	</div>
</div>


<div class="model-ts" *ngIf="tab_1=='basicedit'">
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.edit.Html" (cbOnSuccess)="codeContent.edit.HtmlCopied = true" [class.copied]="codeContent.edit.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.edit.Html"></code></pre>
			</div>
	</div>
</div>


<div class="model-ts combined " *ngIf="tab_1=='basicadd'">
	<div class="code-example-title">
		compare Decorator for add Example
	</div>
	<div class="code-example">
			 <app-compare-add></app-compare-add>

	</div>
</div>
<div class="model-ts combined " *ngIf="tab_1=='basicedit'">
	<div class="code-example-title">
		compare Decorator for edit Example
	</div>
	<div class="code-example">
			 <app-compare-edit></app-compare-edit>

	</div>
</div>
</div>
</div>
<div class='row' id= 'compareconfig'>
<div class='col-lg-12'>
<h2>CompareConfig</h2>

<p>Below options are not mandatory to use in the <span class='highlighted'>@compare()</span> decorator. If needed then use the below options.</p>
 <table class="table table-bordered table-striped">
			<thead>
		<tr>
					<th>Option</th>
					<th>Description </th>
				</tr>
		</thead>
		<tbody>
			<tr>	<td><a href='#fieldName' title='fieldName' (click)='scrollTo("#fieldName")'>fieldName</a></td> 	<td>Current property is matched with the particular property. so we need to pass particular property name. </td> </tr>	<tr>	<td><a href='#message' title='message' (click)='scrollTo("#message")'>message</a></td> 	<td>To override the global configuration message and show the custom message on particular control property. </td> </tr>		</tbody>
	 </table>

</div>
</div>
<div class='row' id= 'fieldname'>
<div class='col-lg-12'>
<h2>fieldName</h2>

<p>Type :  <span class='highlighted'>string</span> </p>
<p>Current property is matched with the particular property. so we need to pass particular property name.</p>
<blockquote *ngIf="codeContent.fieldNameExample && codeContent.fieldNameExample.Notes?.length > 0">
	<ng-container *ngFor="let item of codeContent.fieldNameExample.Notes">
	  <p [innerHtml]="item"></p>
	</ng-container>
</blockquote>
<div class="model-ts">
	<div class="code">
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.fieldNameExample.Model"></code></pre>
			</div>
	</div>
</div>


<ul class="nav nav-tabs" *ngIf="fieldName">
	<li [class.active]="tab_2=='fieldNamemodel'" (click)="tab_2='fieldNamemodel'"><a>Model</a></li>
	<li [class.active]="tab_2=='fieldNameComponent'" (click)="tab_2='fieldNameComponent'"><a>Component</a></li>
	<li [class.active]="tab_2=='fieldNameHtml'" (click)="tab_2='fieldNameHtml'"><a>Html</a></li>
</ul>
<div class="tab-content" *ngIf="fieldName">
			  <div class="tab-pane" [class.active]="tab_2=='fieldNamemodel'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.fieldName.Model" (cbOnSuccess)="codeContent.fieldName.ModelCopied = true" [class.copied]="codeContent.fieldName.ModelCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.fieldName.Model"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_2=='fieldNameComponent'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.fieldName.Component" (cbOnSuccess)="codeContent.fieldName.ComponentCopied = true" [class.copied]="codeContent.fieldName.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.fieldName.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_2=='fieldNameHtml'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.fieldName.Html" (cbOnSuccess)="codeContent.fieldName.HtmlCopied = true" [class.copied]="codeContent.fieldName.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.fieldName.Html"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
<div class="model-ts combined " >
<a class="float-right copy-icon" (click)="fieldName=!fieldName"><i aria-hidden="true" class="fa fa-code"></i></a>

	<div class="code-example-title">
		compare decorator with fieldName
	</div>
	<div class="code-example">
			 <app-compare-fieldName></app-compare-fieldName>

	</div>
</div>
</div>
</div>
<div class='row' id= 'message'>
<div class='col-lg-12'>
<h2>message</h2>

<p>Type :  <span class='highlighted'>string</span> </p>
<p>To override the global configuration message and show the custom message on particular control property.</p>
<blockquote *ngIf="codeContent.messageExample && codeContent.messageExample.Notes?.length > 0">
	<ng-container *ngFor="let item of codeContent.messageExample.Notes">
	  <p [innerHtml]="item"></p>
	</ng-container>
</blockquote>
<div class="model-ts">
	<div class="code">
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.messageExample.Model"></code></pre>
			</div>
	</div>
</div>


<ul class="nav nav-tabs" *ngIf="message">
	<li [class.active]="tab_3=='messageModel'" (click)="tab_3='messageModel'"><a>Model</a></li>
	<li [class.active]="tab_3=='messageComponent'" (click)="tab_3='messageComponent'"><a>Component</a></li>
	<li [class.active]="tab_3=='messageHtml'" (click)="tab_3='messageHtml'"><a>Html</a></li>
</ul>
<div class="tab-content" *ngIf="message">
			  <div class="tab-pane" [class.active]="tab_3=='messageModel'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.message.Model" (cbOnSuccess)="codeContent.message.ModelCopied = true" [class.copied]="codeContent.message.ModelCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.message.Model"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_3=='messageComponent'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.message.Component" (cbOnSuccess)="codeContent.message.ComponentCopied = true" [class.copied]="codeContent.message.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.message.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_3=='messageHtml'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.message.Html" (cbOnSuccess)="codeContent.message.HtmlCopied = true" [class.copied]="codeContent.message.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.message.Html"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
<div class="model-ts combined " >
<a class="float-right copy-icon" (click)="message=!message"><i aria-hidden="true" class="fa fa-code"></i></a>

	<div class="code-example-title">
		compare decorator with custom message
	</div>
	<div class="code-example">
			 <app-compare-message></app-compare-message>

	</div>
</div>
</div>
</div>
<div class='row' id= 'completecompareexample'>
<div class='col-lg-12'>
<h2>Complete Compare Example</h2>

<p>This Complete Compare example which includes all the CompareConfig properties will fulfil the requirement of scenarios 1 and 2.</p>
<ul class="nav nav-tabs" >
	<li [class.active]="tab_4=='completeexample'" (click)="tab_4='completeexample'"><a>Example</a></li>
	<li [class.active]="tab_4=='completemodel'" (click)="tab_4='completemodel'"><a>Model</a></li>
	<li [class.active]="tab_4=='completecomponent'" (click)="tab_4='completecomponent'"><a>Component</a></li>
	<li [class.active]="tab_4=='completehtml'" (click)="tab_4='completehtml'"><a>Html</a></li>
</ul>
<div class="tab-content" >
			  <div class="tab-pane" [class.active]="tab_4=='completeexample'">
			<app-compare-complete></app-compare-complete>

		  </div>
			  <div class="tab-pane" [class.active]="tab_4=='completemodel'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.complete.Model" (cbOnSuccess)="codeContent.complete.ModelCopied = true" [class.copied]="codeContent.complete.ModelCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.complete.Model"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_4=='completecomponent'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.complete.Component" (cbOnSuccess)="codeContent.complete.ComponentCopied = true" [class.copied]="codeContent.complete.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.complete.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_4=='completehtml'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.complete.Html" (cbOnSuccess)="codeContent.complete.HtmlCopied = true" [class.copied]="codeContent.complete.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.complete.Html"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
</div>
</div>
<div class='row' id= 'dynamiccompareexample'>
<div class='col-lg-12'>
<h2>Dynamic Compare Example</h2>

<ul class="nav nav-tabs" >
	<li [class.active]="tab_5=='dynamicexample'" (click)="tab_5='dynamicexample'"><a>Example</a></li>
	<li [class.active]="tab_5=='dynamicmodel'" (click)="tab_5='dynamicmodel'"><a>Model</a></li>
	<li [class.active]="tab_5=='dynamiccomponent'" (click)="tab_5='dynamiccomponent'"><a>Component</a></li>
	<li [class.active]="tab_5=='dynamichtml'" (click)="tab_5='dynamichtml'"><a>Html</a></li>
</ul>
<div class="tab-content" >
			  <div class="tab-pane" [class.active]="tab_5=='dynamicexample'">
			<app-compare-dynamic></app-compare-dynamic>

		  </div>
			  <div class="tab-pane" [class.active]="tab_5=='dynamicmodel'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.dynamic.Model" (cbOnSuccess)="codeContent.dynamic.ModelCopied = true" [class.copied]="codeContent.dynamic.ModelCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.dynamic.Model"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_5=='dynamiccomponent'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.dynamic.Component" (cbOnSuccess)="codeContent.dynamic.ComponentCopied = true" [class.copied]="codeContent.dynamic.ComponentCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.dynamic.Component"></code></pre>
			</div>
	</div>
</div>



		  </div>
			  <div class="tab-pane" [class.active]="tab_5=='dynamichtml'">
			<div  >
	<div class="code">
<a class="float-right copy-icon" ngxClipboard [cbContent]="codeContent.dynamic.Html" (cbOnSuccess)="codeContent.dynamic.HtmlCopied = true" [class.copied]="codeContent.dynamic.HtmlCopied"><i class="fa fa-files-o" aria-hidden="true"></i></a>
			<div highlight="pre code">
				<pre><code [textContent]="codeContent.dynamic.Html"></code></pre>
			</div>
	</div>
</div>



		  </div>
	</div>																											
	  
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<app-disqus></app-disqus>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<app-right-sidebar [sidebarLinks]="sidebarLinks"></app-right-sidebar>
</div>

