<div>
  <form #attandancedetailForm = "ngForm" [rxwebForm]="attandancedetailForm" [model]="attandancedetail">
    <div class="form-group">
      <label>Total Time Out</label>
	    <input type="text" name="totalOutTime" [(ngModel)]="attandancedetail.totalOutTime"  class="form-control" [time]="{'allowSeconds':true}"/>

      <small class="form-text text-muted">Allow seconds.<br/></small>
	   <small class="form-text text-danger" *ngIf="attandancedetailForm.controls?.totalOutTime?.errors">{{attandancedetailForm.controls?.totalOutTime?.errors?.time.message}}<br/></small>	
    </div>
    <button [disabled]="!attandancedetailForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
