<div>
  <form  #employeeInfoForm="ngForm">
    <div class="form-group">
      <label>Department</label>
      <input type="text" [ngModel]="employeeInfo.department" class="form-control" placeholder="Enter any department" />
    </div>
    <div class="form-group">
      <label>Project Domains</label>
      <div class="form-check" *ngFor="let tag of projectDomainsArray; let i = index;">
          <h4>
            <input (click)="addProjectDomain($event.target,i)" [ngModel]="employeeInfo.projectDomains[i]" type="checkbox" value="{{tag.name}}" /> {{tag.name}}
          </h4>
        </div>
        <small class="form-text text-danger" *ngIf="employeeInfoForm.controls.projectDomains?.errors">{{employeeInfoForm.controls.projectDomains?.errors.choice.message}}</small>
        <br />
    </div>
    <div class="form-group">
      <label>Qualifications</label>
      <div class="form-check" *ngFor="let tag of qualificationsArray; let i = index;">
          <h4>
            <input (click)="addQualification($event.target,i)" [ngModel]="employeeInfo.qualifications[i]" type="checkbox" value="{{tag.name}}" /> {{tag.name}}
          </h4>
        </div>
        <small class="form-text text-danger" *ngIf="employeeInfoForm.controls.qualificationsArray.errors">{{employeeInfoForm.controls.qualificationsArray.errors.choice.message}}</small>
        <br />
    </div>
    <div class="form-group">
      <label>Skills</label><small>( With Conditional Expression )</small><br>
      <div class="form-check" *ngFor="let tag of skillsArray; let i = index;">
        <h4>
          <input (click)="addSkill($event.target,i)" [ngModel]="employeeInfo.skills[i]" type="checkbox" value="{{tag.name}}" /> {{tag.name}}
        </h4>
      </div>
      <br />
      <small class="form-text text-danger" *ngIf="employeeInfoForm.controls.skills.errors">{{employeeInfoForm.controls.skills.errors.choice.message}}</small>
      <br />
      <small class="form-text text-muted" >To apply the validation on 'Skills' field, enter 'DotNet' in 'Department' field</small><br>
    </div>
    <div class="form-group">
      <label>Hobbies</label>
      <div class="form-check" *ngFor="let tag of hobbiesArray; let i = index;">
          <h4>
            <input (click)="addHobby($event.target,i)" [ngModel]="employeeInfo.hobbies[i]" type="checkbox" value="{{tag.name}}" /> {{tag.name}}
          </h4>
        </div>
        <br />
        <small class="form-text text-danger" *ngIf="employeeInfoForm.controls.hobbies.errors">{{employeeInfoForm.controls.hobbies.errors.choice.message}}</small>
        <br />
        <small class="form-text text-muted">Shows custom message</small><br>
    </div>
    <button [disabled]="!employeeInfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
  </div>