<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Other Marks</label>
      <input type="text" formControlName="otherMarks" class="form-control"  />
      <small class="form-text text-muted">Shows custom message<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.otherMarks.errors">{{userFormGroup.controls.otherMarks.errors.lessThan.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
