<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>Email</label>
	    <input type="text" name="email" [(ngModel)]="user.email"  class="form-control" email/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'Recovery Email Address' or 'Business Email Address' then you need to add this input to 'abc@gmail.com'.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.email?.errors">{{userForm.controls?.email?.errors?.email.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Business Email Address</label>
	    <input type="text" name="businessEmailAddress" [(ngModel)]="user.businessEmailAddress"  class="form-control" [email]="{'conditionalExpression':'x => x.email ==\'abc@gmail.com\''}"/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'Business Email Address' then you need to add 'email' field input to 'abc@gmail.com'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.businessEmailAddress?.errors">{{userForm.controls?.businessEmailAddress?.errors?.email.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Other Email Address</label>
	    <input type="text" name="otherEmailAddress" [(ngModel)]="user.otherEmailAddress"  class="form-control" [email]="{'message':'Please enter valid email'}"/>

      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.otherEmailAddress?.errors">{{userForm.controls?.otherEmailAddress?.errors?.email.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
