<div class="title" id="{{title | lowercase }}" [class.sticky]="sticky">
    <!-- <h1>{{title}}<a title="Link to this heading" class="link-header" href="{{linkHref}}#{{title}}"><i class="fa fa-link"></i></a><span class="label validator-type" *ngIf="validationTypeTitle">{{validationTypeTitle}}</span></h1> -->
    <h1><span>{{title}}</span><a title="Link to this heading" class="link-header" href="{{linkHref}}#{{title}}"><i
                class="fa fa-link"></i></a>
        <div class="hpanel">
            <ul class="nav nav-tabs page-tabs" *ngIf="mainType !== 'community'">
                <li [class.active]="activeTab == 'validators'" *ngIf="mainType == 'form-validations' || mainType == 'how-to'  && validationName !== 'rule' && validationName !== 'async'">
                    <a (click)="route('validators')">Validator</a>
                </li>
                <li [class.active]="activeTab == 'decorators'" *ngIf="validationName !== 'ip' && validationName !== 'compose'  && validationName !== 'conditionalValidation'">
                        <a (click)="route('decorators')">Decorator</a>
                </li>
                <li [class.active]="activeTab == 'template-driven' && templateDrivenType == 'directives'" *ngIf="mainType == 'form-validations' && (validationName !== 'pattern' && validationName !== 'unique'  && validationName !== 'ip' && validationName !== 'compose' && validationName !== 'allOf' && validationName !== 'oneOf' && validationName !== 'noneOf' && validationName !== 'choice' && validationName !== 'async' && validationName !== 'rule' )">
                    <a (click)="route('template-driven','directives')">Template Driven</a>
                </li>
                <li [class.active]="activeTab == 'template-driven' && templateDrivenType == 'decorators'" *ngIf="mainType == 'form-validations' && (validationName !== 'pattern' && validationName !== 'unique'  && validationName !== 'ip' && validationName !== 'compose' && validationName !== 'allOf' && validationName !== 'oneOf' && validationName !== 'noneOf' && validationName !== 'choice' && validationName !== 'async' && validationName !== 'rule')">
                        <a (click)="route('template-driven','decorators')">Template Driven Decorator</a>
                </li>
                
            </ul>
        </div>
    </h1>
</div>
<div class="title-bar">
    <p [innerHtml]="description"></p>
</div>