<div>
<form [formGroup]="userFormGroup">
<div class="form-group">
    <label>Card Type</label>
    <input type="text" formControlName="cardType" class="form-control"  />
    <small class="form-text text-muted">Based on selection of card type conditional validation is applied<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.cardType.errors">{{userFormGroup.controls.cardType.errors.creditCard.message}}<br/></small>
</div>
<div class="form-group">
    <label>Other Visa Card</label>
    <input type="text" formControlName="otherVisaCard" class="form-control"  />
    <small class="form-text text-muted">If you want to apply conditional validation on 'Visa Card' then you need to add 'card type' input as 'visa'.<br/></small>
    <small class="form-text text-muted">It shows custom message<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.otherVisaCard.errors">{{userFormGroup.controls.otherVisaCard.errors.creditCard.message}}<br/></small>
</div>
<div class="form-group">
    <label>Visa Card</label>
    <input type="text" formControlName="visaCard" class="form-control"  />
    <small class="form-text text-muted">If you want to apply conditional validation on 'Visa Card' then you need to add 'card type' input as 'visa'.<br/></small>
    <small class="form-text text-muted">It shows custom message<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.visaCard.errors">{{userFormGroup.controls.visaCard.errors.creditCard.message}}<br/></small>
</div>
<button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>