<div>
<form *ngIf="userFormGroup" [formGroup]="userFormGroup">
<div class="form-group">
    <label>Credit Card No.</label>
    <input type="text" formControlName="creditCardNumber" class="form-control"  />
    <small class="form-text text-muted">Enter Visa Card No<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.creditCardNumber.errors">{{userFormGroup.controls.creditCardNumber.errors.creditCard.message}}<br/></small>
</div>
<button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>