<div>
  <form  *ngIf="userFormGroup"  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Age</label>
      <input type="text" formControlName="age" class="form-control"   />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Phone Number' or 'Fax Number' then you need to add this input greater than or equal to '25'.<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.age.errors">{{userFormGroup.controls.age.errors.digit.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Fax Number</label>
      <input type="text" formControlName="faxNumber" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Phone Number' then you need to add 'Age' field greater than or equal to '25'.<br/></small>
      <small class="form-text text-muted">If you want to apply conditional expression of type 'string'<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.faxNumber.errors">{{userFormGroup.controls.faxNumber.errors.digit.message}}<br/></small>
    </div>
    <div class="form-group">
      <label>Mobile Number</label>
      <input type="text" formControlName="mobileNumber" class="form-control"  />
      <small class="form-text text-muted">Shows custom message<br/></small>
      <small class="form-text text-danger" *ngIf="userFormGroup.controls.mobileNumber.errors">{{userFormGroup.controls.mobileNumber.errors.digit.message}}<br/></small>
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
