<div>
  <form #userForm = "ngForm" [rxwebForm]="userForm">
    <div class="form-group">
      <label>First Number</label>
	    <input type="text" name="firstNumber" [(ngModel)]="user.firstNumber"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Second Number' or 'Third Number', then you need to add 'First Number' input as '25'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.firstNumber?.errors">{{userForm.controls?.firstNumber?.errors?.factor.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Third Number</label>
	    <input type="text" name="thirdNumber" [(ngModel)]="user.thirdNumber"  class="form-control" [factor]="{'fieldName':'firstNumber','conditionalExpression':'x => x.firstNumber == 25'}"/>

      <small class="form-text text-muted">To apply the validation of factor on 'Fourth Number' field, then enter the value '25' in 'First Number' textbox<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls?.thirdNumber?.errors">{{userForm.controls?.thirdNumber?.errors?.factor.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
