<div>
  <form #addressinfoForm = "ngForm">
    <div class="form-group">
      <label>Country Name</label>
      <input type="text" name="countryName" [(ngModel)]="addressinfo.countryName"  class="form-control"  alpha />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Country Code' or 'City' then you need to add this input as 'India'.<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls.countryName?.errors">{{addressinfoForm.controls.countryName?.errors.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>City</label>
      <input type="text" name="cityName" [(ngModel)]="addressinfo.cityName"  class="form-control"  [alpha]="{'conditionalExpression':'x => x.countryName ==\'India\''}" />
      <small class="form-text text-muted">If you want to apply conditional validation on 'City' then you need to add 'Country Name' input as 'India'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls.cityName?.errors">{{addressinfoForm.controls.cityName?.errors.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Name</label>
      <input type="text" name="stateName" [(ngModel)]="addressinfo.stateName"  class="form-control"  [alpha]="{'allowWhiteSpace':true}" />
      <small class="form-text text-muted">This allowed whitespace in alpha validation<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls.stateName?.errors">{{addressinfoForm.controls.stateName?.errors.alpha.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Code</label>
      <input type="text" name="stateCode" [(ngModel)]="addressinfo.stateCode"  class="form-control"  [alpha]="{'message':'You can enter only alphabets.'}" />
      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="addressinfoForm.controls.stateCode?.errors">{{addressinfoForm.controls.stateCode?.errors.alpha.message}}<br/></small>	
    </div>
    <button [disabled]="!addressinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
