<div>
  <form  [formGroup]="contactFormGroup">
    <div class="form-group">
      <label>Country Name</label>
      <input type="text" formControlName="countryName" class="form-control"  />
      <small class="form-text text-muted">Minimum length upto 3 characters.<br/></small>
	 <small class="form-text text-danger" *ngIf="contactFormGroup.controls.countryName.errors">{{contactFormGroup.controls.countryName.errors.minLength.message}}<br/></small>	
    </div>
    <button [disabled]="!contactFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
