<div>
  <form #locationForm = "ngForm" [rxwebForm]="locationForm">
    <div class="form-group">
      <label>Area Name</label>
	    <input type="text" name="areaName" [(ngModel)]="location.areaName"  class="form-control" />

	   <small class="form-text text-danger" *ngIf="locationForm.controls?.areaName?.errors">{{locationForm.controls?.areaName?.errors?.alphaNumeric.message}}<br/></small>	
    </div>
    <button [disabled]="!locationForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
