<div>
  <form #hexcolorinfoForm = "ngForm">
    <div class="form-group">
      <label>Color Picker</label>
	    <input type="text" name="color" [(ngModel)]="hexcolorinfo.color"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Footer Hexcode' or 'Header Hexcode', then you need to add 'Color Picker' input as '#AFAFAF'<br/></small>
	   <small class="form-text text-danger" *ngIf="hexcolorinfoForm.controls.color?.errors">{{hexcolorinfoForm.controls.color?.errors.hexColor.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Header Hexcode</label>
	    <input type="text" name="headerHexcolorCode" [(ngModel)]="hexcolorinfo.headerHexcolorCode"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Header Hexcode' then you need to add 'Color Picker' input as '#AFAFAF'<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="hexcolorinfoForm.controls.headerHexcolorCode?.errors">{{hexcolorinfoForm.controls.headerHexcolorCode?.errors.hexColor.message}}<br/></small>	
    </div>
    <button [disabled]="!hexcolorinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
