<div>
  <form  [formGroup]="jsonInfoFormGroup">
    <div class="form-group">
      <label>Location</label>
      <input type="text" formControlName="location" class="form-control"  />
      <small class="form-text text-muted">'To apply the validation of JSON on 'addressJson' or 'locationJson' field, then enter the value of location is &#123;CountryName:India&#125; in Location textbox.<br/></small>
	 <small class="form-text text-danger" *ngIf="jsonInfoFormGroup.controls.location.errors">{{jsonInfoFormGroup.controls.location.errors.json?.message}}<br/></small>	
    </div>
    <button [disabled]="!jsonInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
