<div>
  <form #userinfoForm = "ngForm" [rxwebForm]="userinfoForm">
    <div class="form-group">
      <label>Decimal Number</label>
	    <input type="text" name="decimalNumber" [(ngModel)]="userinfo.decimalNumber"  class="form-control" />

      <small class="form-text text-muted">you can enter only a positive decimal number<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls?.decimalNumber?.errors">{{userinfoForm.controls?.decimalNumber?.errors?.numeric.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
