<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Profession</label>
      <input type="text" formControlName="profession" class="form-control"  />
      <small class="form-text text-muted">You can enter value which ends with 'r'<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'Profession' then you need to add 'name' input as 'Adam'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.profession.errors">{{userFormGroup.controls.profession.errors.endsWith.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
