<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Username</label>
	    <input type="text" name="username" [(ngModel)]="user.username"  class="form-control" lowerCase/>

      <small class="form-text text-muted">If you want to apply conditional validation on 'First name' or 'Middle Name', then you need to add 'username' input as 'jonathan.feldman'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.username?.errors">{{userForm.controls.username?.errors.lowerCase.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Middle name</label>
	    <input type="text" name="middleName" [(ngModel)]="user.middleName"  class="form-control" [lowerCase]="{'conditionalExpression':'x => x.username == \'jonathan.feldman\''}"/>

      <small class="form-text text-muted">To apply the validation of lowerCase on 'Middle Name' field, then enter the value of 'jonathan.feldman' in username textbox.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.middleName?.errors">{{userForm.controls.middleName?.errors.lowerCase.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Last name</label>
	    <input type="text" name="lastName" [(ngModel)]="user.lastName"  class="form-control" [lowerCase]="{'message':'You can enter only lowerCase letters.'}"/>

	   <small class="form-text text-danger" *ngIf="userForm.controls.lastName?.errors">{{userForm.controls.lastName?.errors.lowerCase.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
