<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Admission Age</label>
      <input type="text" name="admissionAge" [(ngModel)]="user.admissionAge"  class="form-control"  greaterThanEqualTo />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Voter Age' or 'Member Age' then need to add this input greater than or equal to '18'.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.admissionAge?.errors">{{userForm.controls.admissionAge?.errors.greaterThanEqualTo.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Member Age</label>
      <input type="text" name="memberAge" [(ngModel)]="user.memberAge"  class="form-control"  [greaterThanEqualTo]="{'fieldName':'admissionAge','conditionalExpression':'x => x.admissionAge >= 18 '}" />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Member Age' then you need to add 'Admission Age' field greater than or equal to '18'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.memberAge?.errors">{{userForm.controls.memberAge?.errors.greaterThanEqualTo.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
