<div class="container">
    <br/>
    <h1>{{ translation.simple_demo }}</h1>
    <br/>
    <hr/>
    <div class="row">
        <h4>
            {{ translation.parametrized_string_title }}
        </h4>
        <div class="input-group">
            <div class="form-inline">
                <div class="form-group">
                    <span>{{ translation.parametrized_string }}</span>
                </div>
                <div class="form-group mx-sm-3">
                    <input name="number" type="number" class="form-control" [(ngModel)]="value">
                </div>
                <div class="form-group mx-sm-3">
                    <input name="str" type="text" class="form-control" [(ngModel)]="str">
                </div>
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="row">
        <h4>
            {{ translation.case_demo_title }}
        </h4>
        <div class="form-inline">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>original</th>
                        <th>capitalize</th>
                        <th>lowercase</th>
                        <th>uppercase</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ translation.case_demo }}</td>
                        <td>{{ translation.case_demo | titlecase }}</td>
                        <td>{{ translation.case_demo | lowercase }}</td>
                        <td>{{ translation.case_demo | uppercase }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
