<div>
  <form #userinfoForm = "ngForm">
    <div class="form-group">
      <label>MinMaxFiles</label>
	    <input type="file" name="minMaxFiles" multiple [(ngModel)]="userinfo.minMaxFiles"  class="form-control" />

      <small class="form-text text-muted">It shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls.minMaxFiles?.errors">{{userinfoForm.controls.minMaxFiles?.errors.file.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
