<div>
<form [formGroup]="employeeInfoFormGroup">
<div class="form-group">
    <label>Salary</label>
    <input type="text" formControlName="salary" class="form-control"  />
    <small class="form-text text-muted">Shows Custom Validation Message<br/></small>
    <small class="form-text text-muted">Please enter salary between 1000 to 200000<br/></small>
    <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.salary.errors">{{employeeInfoFormGroup.controls.salary.errors.range.message}}<br/></small>
</div>
<button [disabled]="!employeeInfoFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>