<div>
  <form [formGroup]="employeeInfoFormGroup">
    <div class="form-group">
      <label>Project Domains</label>
      <div class="form-check" *ngFor="let tag of projectDomainsArray; let i = index;">
        <h4>
          <input (click)="addProjectDomain($event.target,i)"  type="checkbox" value="{{tag.name}}" /> {{tag.name}}
        </h4>
      </div>
      <br>
      <small class="form-text text-danger" *ngIf="employeeInfoFormGroup.controls.projectDomains.errors">{{employeeInfoFormGroup.controls.projectDomains.errors.choice.message}}</small><br />
      <small class="form-text text-muted">Please select atleast 3 elements</small><br>
    </div>
    <button [disabled]="!employeeInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
