<div>
  <form #userinfoForm = "ngForm">
    <div class="form-group">
      <label>Profile Picture</label>
	    <input type="file" name="profilePicture"  [(ngModel)]="userinfo.profilePicture"  class="form-control" [extension]="{'extensions':['jpg','bmp']}"/>

      <small class="form-text text-muted">This field only allow file extension as jpg or bmp only.<br/></small>
	   <small class="form-text text-danger" *ngIf="userinfoForm.controls.profilePicture?.errors">{{userinfoForm.controls.profilePicture?.errors.extension.message}}<br/></small>	
    </div>
    <button [disabled]="!userinfoForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
