<div>
    <form  [formGroup]="userFormGroup">
      <div class="form-group">
        <label>First Name</label>
        <input type="text" formControlName="firstName" class="form-control"  />
      </div>
  
      <div class="form-group">
        <label>Last Name</label>
        <input type="text" formControlName="lastName" class="form-control"  />
      </div>
 
      <div class="form-group">
        <label>User Name</label>
        <input type="text" formControlName="userName" class="form-control"  />
      </div>
  
       <div class="form-group">
        <label>Password</label>
        <input type="text" formControlName="password" class="form-control"  />
      </div>
  
      <button [disabled]="!userFormGroup.valid"  class="btn btn-primary">Submit</button>
       <button (click)="resetForm()"  class="btn btn-primary">Reset</button>
    </form>
  </div>
  