<div id="wrapper" class="dashboard"  *ngIf="showComponent">
	<div class="validators"  *ngIf="validators.length > 0">
		<div class="bg-white py-3 border-radius">
			<div class="d-flex flex-wrap" >
				<div class="border-green w-23 p-2" *ngFor = "let validator of validators">
				  <p class="das-title" >{{validator.title}}</p>
				  <p>{{validator.description}}<a routerLink="/reactive-form-validators/{{validator.path}}">...</a></p>
				</div>
			</div>
		</div>
	 </div>
	 <div class="emptyList validators" *ngIf="validators.length == 0"><div>No Records found.</div></div>
</div>