<div>
  <form  [formGroup]="companyInfoFormGroup">
    <div class="form-group">
      <label>Company Name</label>
      <select formControlName="companyName" class="form-control">
		<option [value]="item" *ngFor="let item of companyNames">{{item}}</option>
      </select>
	 <small class="form-text text-danger" *ngIf="companyInfoFormGroup.controls.companyName.errors">{{companyInfoFormGroup.controls.companyName.errors.cusip.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Oracle Corporation Cusip Code</label>
      <input type="text" formControlName="oracleCorporationCusipCode" class="form-control"  />
      <small class="form-text text-muted">You must enter a 9-character alphanumeric cusic code.<br/></small>
	 <small class="form-text text-danger" *ngIf="companyInfoFormGroup.controls.oracleCorporationCusipCode.errors">{{companyInfoFormGroup.controls.oracleCorporationCusipCode.errors.cusip.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Google Inc. Cusip Code</label>
      <input type="text" formControlName="googleIncCusipCode" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Google Inc. Cusip Code' then you need to add 'Company Name' input as 'Google'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
	 <small class="form-text text-danger" *ngIf="companyInfoFormGroup.controls.googleIncCusipCode.errors">{{companyInfoFormGroup.controls.googleIncCusipCode.errors.cusip.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Microsoft Corporation Cusip Code</label>
      <input type="text" formControlName="microsoftCorporationCusipCode" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Microsoft Corporation Cusip Code' then you need to add 'Company Name' input as 'Microsoft'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	 <small class="form-text text-danger" *ngIf="companyInfoFormGroup.controls.microsoftCorporationCusipCode.errors">{{companyInfoFormGroup.controls.microsoftCorporationCusipCode.errors.cusip.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Apple Inc Cusip Code</label>
      <input type="text" formControlName="appleIncCusipCode" class="form-control"  />
      <small class="form-text text-muted">enter 9-character alphanumeric cusip Code only<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	 <small class="form-text text-danger" *ngIf="companyInfoFormGroup.controls.appleIncCusipCode.errors">{{companyInfoFormGroup.controls.appleIncCusipCode.errors.cusip.message}}<br/></small>	
    </div>
    <button [disabled]="!companyInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
