<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Registration Date</label>
      <input type="text" name="registrationDate" [(ngModel)]="user.registrationDate"  class="form-control"  [maxDate]="{'value':new Date(2018,7,30),'message':'Registration Date exceeds the Maximum Date Limit'}" />
      <small class="form-text text-muted">you can enter MaxDate upto 30th july 2018<br/></small>
      <small class="form-text text-muted">Shows custom message.<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.registrationDate?.errors">{{userForm.controls.registrationDate?.errors.maxDate.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
