<footer class="footer" *ngIf="showComponent"  >
	Maintained by the <a href="https://github.com/orgs/rxweb/people" target="_blank" rel="noopener">rxweb core team</a> with the help of 
	<a href="https://github.com/rxweb/rxweb/graphs/contributors" target="_blank" rel="noopener">contributors</a>.<br />
	Currently v1.6.0, Code licensed <a href="https://github.com/rxweb/rxweb/blob/master/LICENSE" target="_blank" rel="noopener">MIT</a>,
	docs license <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="noopener">CC BY 4.0.</a>
	<span class="pull-right">Sponsored by : <span><a href="https://radixweb.com" target="_blank" rel="noopener">RADIXWEB</a></span></span>
</footer>