<footer class="footer align-items-center" *ngIf="showComponent">
	<span>
	Maintained by the <a href="https://github.com/orgs/rxweb/people" target="_blank">rxweb core team</a> with the help of 
	<a href="https://github.com/rxweb/rxweb/graphs/contributors" target="_blank">contributors</a>.<br />
	Currently v1.4.5, Code licensed <a href="https://github.com/rxweb/rxweb/blob/master/LICENSE" target="_blank">MIT</a>,
	docs license <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 4.0.</a>
	</span>
	<span class="ml-auto sponcer">Sponsored by : <span><a href="https://radixweb.com" target="_blank">RADIXWEB</a></span></span>
</footer>