<div>
  <form #contactForm = "ngForm">
    <div class="form-group">
      <label>Country Name</label>
	    <input type="text" name="countryName" [(ngModel)]="contact.countryName"  class="form-control" />

      <small class="form-text text-muted">If you want to apply conditional validation on 'Country Code' or 'State Code', then you need to add 'Country Name' input as 'India'<br/></small>
	   <small class="form-text text-danger" *ngIf="contactForm.controls.countryName?.errors">{{contactForm.controls.countryName?.errors.minLength.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Code</label>
	    <input type="text" name="stateCode" [(ngModel)]="contact.stateCode"  class="form-control" />

      <small class="form-text text-muted">To apply validation here, write 'India' in 'Country Name' textbox because it is conditional expression.<br/></small>
      <small class="form-text text-muted">Minimum length upto 3 characters.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	   <small class="form-text text-danger" *ngIf="contactForm.controls.stateCode?.errors">{{contactForm.controls.stateCode?.errors.minLength.message}}<br/></small>	
    </div>
    <button [disabled]="!contactForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
