<div>
  <form #userForm = "ngForm">
    <div class="form-group">
      <label>Zip Code</label>
	    <input type="text" name="zipCode" [(ngModel)]="user.zipCode"  class="form-control" [pattern]="{'expression':{'zipCode':'/^[0-9]{5}(?:-[0-9]{4})?$/' },'message':'Zip code should match 12345 or 12345-6789'}"/>

      <small class="form-text text-muted">It checked that zipcode match zipcode regex or not <br/></small>
      <small class="form-text text-muted">Shows custom message<br/></small>
	   <small class="form-text text-danger" *ngIf="userForm.controls.zipCode?.errors">{{userForm.controls.zipCode?.errors.zipCode.message}}<br/></small>	
    </div>
    <button [disabled]="!userForm.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
