<div>
<form *ngIf="userFormGroup" [formGroup]="userFormGroup">
<div class="form-group">
    <label>Admin Website Url</label>
    <input type="text" formControlName="adminWebsiteUrl" class="form-control"  />
    <small class="form-text text-muted">If you want to apply conditional validation on 'QA Website Url' or 'Customer Website Url', then you need to add 'Admin Website Url' input as 'https://google.co.in'<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.adminWebsiteUrl.errors">{{userFormGroup.controls.adminWebsiteUrl.errors.url.message}}<br/></small>
</div>
<div class="form-group">
    <label>QA Website Url</label>
    <input type="text" formControlName="qaWebsiteUrl" class="form-control"  />
    <small class="form-text text-muted">If you want to apply conditional validation on 'QA Website Url' then you need to add 'admin Website Url' input as 'https://google.co.in'.<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.qaWebsiteUrl.errors">{{userFormGroup.controls.qaWebsiteUrl.errors.url.message}}<br/></small>
</div>
<div class="form-group">
    <label>Customer Website Url</label>
    <input type="text" formControlName="customerWebsiteUrl" class="form-control"  />
    <small class="form-text text-muted">Enter 'https://google.co.in' in Admin Website Url textbox above for apply validation<br/></small>
    <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.customerWebsiteUrl.errors">{{userFormGroup.controls.customerWebsiteUrl.errors.url.message}}<br/></small>
</div>
<div class="form-group">
    <label>Maintenance Website Url</label>
    <input type="text" formControlName="maintenanceWebSiteUrl" class="form-control"  />
    <small class="form-text text-muted">Shows Custom Validation Message.<br/></small>
    <small class="form-text text-danger" *ngIf="userFormGroup.controls.maintenanceWebSiteUrl.errors">{{userFormGroup.controls.maintenanceWebSiteUrl.errors.url.message}}<br/></small>
</div>
<button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
</form>
</div>