<div>
  <form  [formGroup]="addressInfoFormGroup">
      <div class="form-group">
          <label>Zipcode</label>
          <input type="text" formControlName="zipcode" class="form-control"  />
       <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.zipcode.errors">{{addressInfoFormGroup.controls.zipcode.errors.required.message}}<br/></small>	
        </div>
    <div class="form-group">
      <label>Country Name</label>
      <input type="text" formControlName="countryName" class="form-control"  />
	 <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.countryName.errors">{{addressInfoFormGroup.controls.countryName.errors.rule?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>City Name</label>
      <input type="text" formControlName="cityName" class="form-control"  />
      <small class="form-text text-muted">If you want to apply customRules on this field, then you need to enter 'Zipcode' value as 4000.<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'State Name' then you need to add 'Country Name' input as 'India'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	 <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.cityName.errors">{{addressInfoFormGroup.controls.cityName.errors.rule?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>State Name</label>
      <input type="text" formControlName="stateName" class="form-control"  />
      <small class="form-text text-muted">If you want to apply customRules on this field, then you need to enter 'Zipcode' value as 4000.<br/></small>
      <small class="form-text text-muted">If you want to apply conditional validation on 'State Name' then you need to add 'Country Name' input as 'India'.<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
	 <small class="form-text text-danger" *ngIf="addressInfoFormGroup.controls.stateName.errors">{{addressInfoFormGroup.controls.stateName.errors.rule?.message}}<br/></small>	
    </div>
    <button [disabled]="!addressInfoFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
