<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>Age</label>
      <input type="text" formControlName="age" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Voter Age' or 'Member Age' then need to add this input greater than '17'.<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.age.errors">{{userFormGroup.controls.age.errors.greaterThan.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Retirement Age</label>
      <input type="text" formControlName="retiermentAge" class="form-control"  />
      <small class="form-text text-muted">Retirement Age should be greater than age<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.retiermentAge.errors">{{userFormGroup.controls.retiermentAge.errors.greaterThan.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
