<h1>{{ global.validation.title }}</h1>

<hr>

<h3>{{ global.validation.numbers }}</h3>
<form >
    <div>
        <input [formControl]="decimal" >
        <div class="error" *ngIf="decimal.hasError('required')">
            {{ decimal.errors.required.message }}
        </div>
        <div class="error" *ngIf="decimal.hasError('max')">
            {{ decimal.errors.max.message }}
        </div>
        <div class="error" *ngIf="decimal.hasError('min')">
            {{ decimal.errors.min.message  }}
        </div>
    </div>
    <br>
    <button type="submit" [disabled]="!decimal.valid">{{ global.validation.submit }}</button>
    <br>
    <p>{{ global.validation.numberValue }}</p>
</form>
