<div>
  <form  [formGroup]="userFormGroup">
    <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName" class="form-control"  />
      <small class="form-text text-muted">If you want to apply conditional validation on 'Middle Name' or 'Last name', then you need to add 'First Name' input as 'Bharat'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.firstName.errors">{{userFormGroup.controls.firstName.errors.maxLength?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Middle Name</label>
      <input type="text" formControlName="middleName" class="form-control"  />
      <small class="form-text text-muted">To apply validation here, write 'Bharat' in 'First Name' textbox because it is conditional expression. and maximum length is 16<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'function'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.middleName.errors">{{userFormGroup.controls.middleName.errors.maxLength?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" class="form-control"  />
      <small class="form-text text-muted">To apply the validation of lowerCase on 'Last Name' field, write 'Bharat' in 'First Name' textbox because it is conditional expression. and maximum length is 16<br/></small>
      <small class="form-text text-muted">Conditional Expression with type 'string'<br/></small>
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.lastName.errors">{{userFormGroup.controls.lastName.errors.maxLength?.message}}<br/></small>	
    </div>
    <div class="form-group">
      <label>User Name</label>
      <input type="text" formControlName="userName" class="form-control"  />
	 <small class="form-text text-danger" *ngIf="userFormGroup.controls.userName.errors">{{userFormGroup.controls.userName.errors.maxLength?.message}}<br/></small>	
    </div>
    <button [disabled]="!userFormGroup.valid" class="btn btn-primary">Submit</button>
  </form>
</div>
